.tab-content .my-baseinfo-item .my-label-title,
.tab-content .btn-group {
  margin-bottom: 10px;
}
.my-lineheight {
  line-height: 22px;
}
.my-lineheight strong {
  margin: 0 5px;
}
#A1 th {
  width: 42%;
}
#B1 th {
  width: 31%;
}
#B2 th {
  width: 31%;
}
#B4 th {
  width: 14%;
}
#C1 th {
  width: 20%;
}
#B5 .accordion-body {
  height: 0px;
}
#birth-order {
  margin-left: 7px;
}
.my-right {
  text-align: right;
}
