table {
  white-space: nowrap;
}
table td:nth-child(3n+2) {
  white-space: normal;
}
td ul {
  margin: 0;
}
td li {
  list-style-type: none;
  line-height: 22px;
}
/*自訂*/
.my-total th {
  background: #dddde1 url(images/thbg.png) 0 0 repeat-x;
  border-right: 1px solid #ACACAC;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
