<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtm" ng-app="app">
<head>
  <script src="js/gadget.js"></script>
  <script>
    init({
      application: "dev.sh_d",
      paramValues: {
        system_position: 'parent' //teacher, student, parent
      },
      oAuth: {
        clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
        clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
        account: 'bubu@debug.ischool.com.tw',
        password:'1234'
      }
    });
  </script>
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="css/mybootstrap.css" rel="stylesheet" />
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link href="css/base.css" rel="stylesheet" />
  <link href="css/default.css" rel="stylesheet" />

  <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/default.js"></script>

</head>
<body ng-controller="Cntl">
  <div class="my-page" id="gadget">
    <div id="mainMsg"></div>
    <div ng-show="currRole=='parent'" class="my-child" ng-mouseleave="myStyle={height: 0}" ng-mouseenter="myStyle={height: 'auto'}">
      <div class="my-childname" ng-style="myStyle">
        <ul>
          <li ng-click="changeChild(child)" ng-repeat="child in children">{{child.StudentName || '未設定'}}</li>
        </ul>
      </div>
      <div class="my-childbar">
        <i class="icon-user"></i><span>{{currChild.StudentName}}</span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <h1>請選擇群組</h1>
        <div>
          <a href="https://pagamo.com.tw/edu_openid/one_campus_login?application={{currApplication}}&groupid={{group.GroupId}}" target="_blank" ng-repeat="group in myGroups">
            <div class="my-group">
              <div>{{group.GroupName}}</div>
            </div>
          </a>
          <p ng-show="myGroups.length == 0">目前無群組</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>