<!DOCTYPE html>
<html ng-app="gradebook">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/gadget.js"></script>
    <script>
        //init({
        //    application: "test.kh.edu.tw",
        //    paramValues: {
        //        "DefaultRound": "2" //預設小數點位數
        //        //"第一次期中考Round": "1",
        //        //"第二次期中考Round": "2",
        //        //"期末考Round": "7",
        //        //"試算Round": "1", //指定評量項目小數點位數
        //        //"學期成績Round": "2"
        //    },
        //    oAuth: {
        //        clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
        //        clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
        //        account: 'yinghua.lin@ischool.com.tw',
        //        password: window.prompt('password:')
        //    }
        //});
    </script>


    <title>GradeBook</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script>
        $(function () {
            var newEditor = $("#gadget .hidden-xs").find("div").eq(0).clone();
            newEditor.css({ position: "", float: "", width: "" }).addClass('visible-xs');
            newEditor.find("table").eq(0).removeAttr("bs-affix").removeAttr("data-offset-top").removeAttr("style");
            newEditor.find("table").eq(0).find("tbody").eq(0).prepend(newEditor.find("table").eq(0).find("tbody").eq(0).find("tr").eq(1));
            $("#gadget").append(newEditor);
        });
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/sortable.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/angular-strap.min.js"></script>
    <script src="js/angular-strap.tpl.min.js"></script>

    <!--<script src="js/gradebook.js"></script>-->
    <script src="js/gradebook.hwsh.js"></script>
    

    <style>
        .dropdown-header {
            padding: 3px 10px;
            font-size: 14px;
        }

        .importStudentPreview {
            padding: 5px 10px;
            border-radius: .25em;
            border: solid 1px lightgray;
            margin: 3px 0px;
        }

            .importStudentPreview .studentInfo {
            }

        .my-page {
            max-width: initial;
        }

        body {
            max-width: 1280px;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        tr .visible-tr-hover {
            display: none;
        }

        tr:hover .visible-tr-hover {
            display: inherit;
        }
    </style>
</head>


<body ng-controller="MainCtrl">
    <!--<div ng-if="test" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;">Loading...</div>
    <div ng-if="(haveNoCourse)" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;">本學期沒有設定任何課程，請洽教務處行政人員</div>-->
    <div id="gadget" class="my-page" ng-if="true">
        <h1 class="hidden-xs">
            <a href="javascript:void(0)"
               style="text-decoration:none;">GradeBook</a>
        </h1>
        <div>
            <div class="btn-group pull-right"
                 ng-init="getProcess()">
                <div class="btn-group"
                     ng-if="process">
                    <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>批次</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in process"
                            ng-if="!item.Hide"
                            ng-class="{'disabled':item.Disabled,'dropdown-header':item.Type=='Header'}"
                            ng-style="item.Type=='Header'?'padding-left:10px;':''">
                            <span ng-if="item.Type=='Header'">
                                {{item.Name}}
                            </span>
                            <a ng-if="item.Type=='Function'"
                               href="javascript:;" ng-click="(item.Type!='Function'||item.Disabled)?'':item.Fn()">
                                {{item.Name}}
                            </a>
                            <a ng-if="item.Type=='Function_Effort'"
                               href="javascript:;"
                               style="font-size:smaller; padding-left:40px"
                               ng-click="(item.Type!='Function_Effort'||item.Disabled)?'':item.Fn()">
                                {{item.Name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <a ng-if="current.currentAssessment.AssessmentName!='Report Card' && current.currentAssessment.AssessmentName!=''" ng-click="setSubItemConfig()" class="btn btn-default">
                    <i class="fa fa-cog"></i>
                    Config
                </a>
                <a ng-if="current.currentAssessment.AssessmentName!='Report Card' && current.currentAssessment.AssessmentName!=''" ng-click="saveAll()" class="btn btn-default" ng-class="{'btn-danger':!checkAllTable()}">
                    <i class="fa fa-floppy-o"></i>
                    SaveSubItem
                </a>
                <a ng-if="current.currentAssessment.AssessmentName=='Report Card' " href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>tools</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="Assessment in current.currentAssessmentList">
                        <span>
                            {{Assessment.AssessmentName}}
                        </span>
                        <a href="javascript:;"
                           style="font-size:smaller; padding-left:40px">
                            Import
                        </a>
                        <a ng-if="Assessment.AllowCostumSubItems"
                           href="javascript:;"
                           style="font-size:smaller; padding-left:40px">
                            Calculation
                        </a>
                    </li>
                </ul>
                <a ng-if="current.currentAssessment.AssessmentName=='Report Card' " ng-click="saveAll()" class="btn btn-default" ng-class="{'btn-danger':!checkAllTable()}">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </a>
                <a ng-if="_HIDE_"
                   ng-click="showCreateModal()" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    新增
                </a>
                <a ng-if="_HIDE_"
                   ng-click="showManageModal()" class="btn btn-default">
                    <i class="fa fa-list-alt"></i>
                    編輯欄位
                </a>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.currentCourse.CourseName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="course in CourseList"
                        ng-class="{active:course.CourseName==current.currentCourse.CourseName}">
                        <a href="javascript:;" ng-click="setCurrentCourse(course)">{{course.CourseName}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.currentTerm.TermName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="term in current.currentTermList"
                        ng-class="{active:term.TermName==current.currentTerm.TermName}">
                        <a href="javascript:;" ng-click="setCurrentTerm(term)">{{term.TermName}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.currentSubject.SubjectName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="subject in current.currentSubjectList"
                        ng-class="{active:subject.SubjectName==current.currentSubject.SubjectName}">
                        <a href="javascript:;" ng-click="setCurrentSubject(subject) ;setDropdownAssessmentList()">{{subject.SubjectName}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.currentAssessment.AssessmentName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="assessment in dropdownAssessmentList"
                        ng-class="{'disabled': assessment.AllowCostumSubItems == false,active:assessment.AssessmentName==current.currentAssessment.AssessmentName}">
                        <a href="javascript:;" ng-click="setCurrentAssessment(assessment);setSubItemList(assessment)">{{assessment.AssessmentName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hidden-xs" style="margin-top:10px;">
            <div style="position:relative;float:right;width:260px;">
                <div data-offset-top="145"
                     bs-affix>
                    <table class="table table-bordered table-striped"
                           style="width:260px;">
                        <!-- 切換學生 -->
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <img class="hidden-xs"
                                         style="height:120px;width:120px;margin:8px auto;display:block"
                                         src="data:image/png;base64,{{current.Student.StudentPhotoBase64Code}}" />

                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <span>{{current.Student.StudentEnglishName}}</span>
                                    </div>
                                    <div class="btn-group btn-group-xs pull-right">
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="stuRec in StudentList">
                                                <a href="javascript:;" ng-click="setCurrent(stuRec, current.Exam, true, true)">{{stuRec.StudentNumber}}     {{stuRec.StudentEnglishName}}  </a>
                                            </li>
                                        </ul>
                                        <a class="btn btn-default"
                                           ng-click="goPrev()">
                                            <<
                                        </a>
                                        <a class="btn btn-default"
                                           ng-click="goNext()">
                                            >>
                                        </a>
                                        <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <span class="text-muted">{{current.Student.StudentNumber}}</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>                       
                        <!-- 成績輸入 -->
                        <tbody ng-if="current.currentAssessment.AssessmentName=='Report Card'">
                            <tr ng-repeat="Assessment in current.currentSubItemList | filter: filterPermission"
                                class="text-center">
                                <td ng-if="Assessment.InputType=='Score'">
                                    <div class="text-left"
                                         style="width:180px;max-height:60px;overflow:hidden;text-overflow:ellipsis;">
                                        {{Assessment.AssessmentName}}
                                    </div>
                                </td>
                                <td ng-if="Assessment.InputType=='Score'"
                                    class="text-center"
                                    style="position:relative; padding:0px;">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="current.Student[current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_']"
                                               style="border: 0"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                    </div>
                                </td>
                                <td ng-if="Assessment.InputType=='Indicator'"
                                    style="position:relative;">
                                    <div class="text-left"
                                         style="width:180px;max-height:60px;overflow:hidden;text-overflow:ellipsis;">
                                        {{Assessment.AssessmentName}}
                                    </div>
                                    <div style="position:absolute;right:2px;bottom:2px;bottom:-12px;z-index:1;"
                                         class="btn-group btn-group-xs visible-tr-hover">
                                        <a 
                                            ng-repeat="val in Assessment.InputItem"
                                            class="btn btn-default"
                                            ng-class="{'btn-danger':current.Student[current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_'] == val}"
                                            ng-click="setIndicatorVal(current.Student, current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_', val)">
                                            {{val}}
                                        </a>
                                    </div>
                                </td>
                                <td ng-if="Assessment.InputType=='Indicator'"
                                    class="text-center"
                                    style="position:relative; padding:0px;">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="current.Student[current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_']"
                                               style="border: 0"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                    </div>
                                </td>
                                <td ng-if="Assessment.InputType=='Text'"
                                    colspan="2">
                                    <div class="text-left"
                                         style="width:180px;max-height:60px;overflow:hidden;text-overflow:ellipsis;">
                                        {{Assessment.AssessmentName}}
                                    </div>
                                    <textarea ng-model="current.Student[current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_']"
                                              style="min-height: 120px;"
                                              type="text"
                                              class="form-control pg-grade-textbox"
                                              select-on-click></textarea>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="current.currentAssessment.AssessmentName!='Report Card'&&current.currentAssessment.AssessmentName!=''">
                            <tr class="text-left">
                                <td colspan="2">
                                    <div class="btn-group btn-block">
                                        <a href="javascript:void(0)"
                                           class="btn btn-link btn-block dropdown-toggle"
                                           data-toggle="dropdown"
                                           style="padding:0; color:#333; text-align:left;">
                                            <i style="min-width: 14px;"
                                               class="fa fa-edit"></i>
                                            {{current.currentSubItem? current.currentSubItem.SubItemName:'Choose'}}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" style="width:100%;">
                                            <li ng-repeat="Assessment in current.currentSubItemList">
                                                <a href="javascript:;" ng-click="setCurrentsubItem(Assessment)">
                                                    <i style="min-width: 14px;"
                                                       class="fa fa-edit"></i>
                                                    {{Assessment.SubItemName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="current.currentSubItem">
                                <td class="text-center" colspan="2"
                                    style="position:relative; padding:0px;width:200px;">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="current.Student[current.Student.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+current.currentAssessment.AssessmentName+'_'+current.currentSubItem.SubItemName]"
                                               ng-keydown="enterGrade($event)"
                                               placeholder="Press Enter"
                                               style="border: 0"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-right:270px;">
                <table class="table table-bordered table-striped table-hover text-center"
                       style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 170px;"
                                rowspan="2">
                                Student
                            </th>
                            <th ng-if="current.currentAssessment.AssessmentName=='Report Card' "
                                ng-repeat="Assessment in current.currentSubItemList | filter: filterPermission"
                                class="text-center"
                                style="{{exam.Group?'padding: 8px 2px;border: none':'padding: 8px 2px;'}}"
                                rowspan="{{exam.Group?1:2}}">
                                <span style="max-height:60px;display:inline-block;overflow:hidden;text-overflow:ellipsis;">
                                    {{Assessment.AssessmentName}}
                                </span>
                            </th>
                            <th ng-if="current.currentAssessment.AssessmentName!='Report Card' && current.currentAssessment.AssessmentName!=''"
                                ng-repeat="Assessment in current.currentSubItemList | filter: filterPermission"
                                class="text-center"
                                style="{{exam.Group?'padding: 8px 2px;border: none':'padding: 8px 2px;'}}"
                                rowspan="{{exam.Group?1:2}}">
                                <span style="max-height:60px;display:inline-block;overflow:hidden;text-overflow:ellipsis;">
                                    {{Assessment.SubItemName}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stuRec in StudentList"
                            ng-class="{'warning':stuRec.StudentID==current.Student.StudentID}"
                            style="cursor:pointer;">
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, current.Exam, true, true)"
                                style="position:relative;overflow:hidden;text-overflow:ellipsis;">
                                <div style="white-space: nowrap;overflow: hidden;">
                                    <span>{{stuRec.StudentEnglishName}}</span>
                                </div>
                                <small class="text-muted" style="position:absolute;bottom:2px;right:2px;">{{stuRec.StudentNumber}}</small>
                            </td>
                            <td ng-if="current.currentAssessment.AssessmentName=='Report Card' "
                                ng-repeat="Assessment in current.currentSubItemList | filter: filterPermission"
                                class="text-center"
                                style="position:relative;overflow:hidden;text-overflow:ellipsis;"
                                ng-click="setCurrent(stuRec, exam, true, true)">
                                <span ng-class="{'text-danger':stuRec[stuRec.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_'] < 60}"
                                      style="overflow:hidden;width:100%;white-space:nowrap">
                                    {{stuRec[stuRec.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+Assessment.AssessmentName+'_']}}
                                </span>
                            </td>
                            <td ng-if="current.currentAssessment.AssessmentName!='Report Card'&& current.currentAssessment.AssessmentName!='' "
                                ng-repeat="Assessment in current.currentSubItemList | filter: filterPermission"
                                class="text-center"
                                style="position:relative;overflow:hidden;text-overflow:ellipsis;"
                                ng-click="setCurrent(stuRec, exam, true, true);setCurrentsubItem(Assessment);">
                                <span ng-class="{'text-danger':stuRec[stuRec.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+current.currentAssessment.AssessmentName+'_'+Assessment.SubItemName]< 60}"
                                      style="overflow:hidden;width:100%;white-space:nowrap">
                                    {{stuRec[stuRec.StudentID+'_'+current.currentTerm.TermName+'_'+current.currentSubject.SubjectName+'_'+current.currentAssessment.AssessmentName+'_'+Assessment.SubItemName]}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="importModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title
                    ">
                        {{importProcess.Name}}
                    </h4>-->
                    <h1 class="hidden-xs">
                        Grad
                        <h1 class="hidden-xs">GradeBook SubItem Config</h1>
                        <h4 class="hidden-xs">{{current.currentCourse.CourseName}} /{{current.currentTerm.TermName}} / {{current.currentSubject.SubjectName}} / {{current.currentAssessment.AssessmentName}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover text-center"
                           style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th class="text-center"
                                    style="padding: 8px 2px;width: 210px;"
                                    rowspan="2">
                                    Name
                                </th>
                                <th class="text-center"
                                    style="padding: 8px 2px;">
                                    Date
                                </th>
                                <th class="text-center"
                                    style="padding: 8px 2px;">
                                    Weight
                                </th>
                                <th class="text-center"
                                    style="padding: 8px 2px;">
                                    Limit
                                </th>
                                <th class="text-center"
                                    style="padding: 8px 2px;">
                                    Description
                                </th>
                                <th class="text-center"
                                    style="padding: 8px 2px;">
                                    Remove
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="SubItem in current.currentSubItemList_Config"
                                style="cursor:pointer;">
                                <td class="text-center"
                                    style="position:relative; padding:0px">
                                    <!--<span ng-if="stuRec.StudentNumber"
                                    style="min-width:24px;display:inline-block;">{{stuRec.StudentNumber}}.&nbsp;</span>-->
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="SubItem.SubItemName"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                        <!--<span>{{SubItem.SubItemName}}</span>-->
                                    </div>
                                </td>
                                <td class="text-center"
                                    style="position:relative; padding:0px">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="SubItem.Date"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                        <!--<span>{{SubItem.Date}}</span>-->
                                    </div>
                                </td>
                                <td class="text-center"
                                    style="position:relative; padding:0px">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="SubItem.CostumSubItemRatio"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                        <!--<span>{{SubItem.CostumSubItemRatio}}</span>-->
                                    </div>
                                </td>
                                <td class="text-center"
                                    style="position:relative; padding:0px">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="SubItem.Limit"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                        <!--<span>{{SubItem.Limit}}</span>-->
                                    </div>
                                </td>
                                <td class="text-left"
                                    style="position:relative; padding:0px">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <input ng-model="SubItem.Description"
                                               type="text"
                                               class="form-control pg-grade-textbox"
                                               select-on-click />
                                        <!--<span>{{SubItem.Description}}</span>-->
                                    </div>
                                </td>
                                <td style="padding: 0px">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <a style="height:100%;width: 100%"
                                           ng-click="deleteSubItem(SubItem.SubItemName)" class="btn btn-default">
                                            <i class="fa fa-minus-square"></i>
                                            Remove
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px" colspan="6">
                                    <div style="white-space: nowrap;overflow: hidden;">
                                        <a style="height:100%;width: 100%"
                                           ng-click="addSubItem()" class="btn btn-default">
                                            <i class="fa fa-plus-square"></i>
                                            Add
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default btn-sm" ng-if="!importProcess.ParseValues" data-dismiss="modal">取消</button>-->
                    <!--<button type="button" class="btn btn-primary btn-sm" ng-if="!importProcess.ParseValues" ng-click="importProcess.Parse()">解析</button>-->
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </a>
                    <a ng-click="saveSubItemConfig()" class="btn btn-default" ng-class="{'btn-danger':!checkAllTable()}">
                        <i class="fa fa-floppy-o"></i>
                        SaveConfig
                    </a>
                    <!--<button type="button" class="btn btn-default btn-sm" ng-if="importProcess.ParseValues" ng-click="importProcess.Clear()">返回</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-if="importProcess.ParseValues" ng-click="importProcess.Import()" ng-class="{disabled:importProcess.HasError}">匯入</button>-->
                </div>
            </div>
        </div>
    </div>

</body>

</html>
