/*--- bootstrap ---*/

* {
  font-family: "微軟正黑體","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*--- share ---*/

*:hover {
	-o-transition: background .50s ease-out;
    -webkit-transition: background .50s ease-out;
    -moz-transition: background .50s ease-out;
    transition:  background .50s ease-out;
}

.my-page {
	max-width:1000px;
	margin:20px auto;
	background:#fff;
	padding:10px;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 3px 3px 0 white,4px 4px 0 rgba(0, 0, 0, .2),6px 6px 0 white,7px 7px 0 rgba(0, 0, 0, .2);
}

.my-page h1:first-child {
	/*font-size: 1.2rem;*/
	font-size: 20px;
	position: relative;
	left: -10px;
	border-left: 10px solid #B0CCC6;
	border-bottom: 1px solid whiteSmoke;
	padding: 10px 0 10px 20px;
}

.my-page h1 a {
	color:#333;
}

.my-page h1 .caret {
	vertical-align:middle;
}

.my-page h1 li {
	font-size:1rem;
}


.table th, .table td {
	text-align: center;
	vertical-align:middle !important;
}

table thead th {
	background: #DDDDE1 url(images/thbg.png) 0 0 repeat-x;
	border-bottom: 1px solid #ACACAC;
}