<div id="attendance"
     page>
    <nav aria-label="breadcrumb text-nowrap text-truncate">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page"> Attendance</li>

        </ol>
    </nav>

    <ul class="list-group mb-3 point"
        *ngIf="!loading;else Loading">
        <li *ngIf="suggests && suggests.length"
            class="list-group-item active d-flex align-items-center py-2 ">

            <div class="col-9 col-md-10 text-nowrap">
                <span class="pr-3">Today</span>
            </div>
            <div class="col-2 col-md-1 text-nowrap text-center">Period</div>
            <div class="col-1 text-center">Checked</div>
        </li>
        <li class="list-group-item "
            *ngFor="let suggest of suggests"
            (click)="openSuggest(suggest)">
            <div class="row">
                <div class="col-9 col-md-10 text-nowrap">
                    <span class="pr-3">{{suggest.CourseName}}</span>
                </div>
                <div class="col-2 col-md-1 text-nowrap text-center">{{suggest.english_period || suggest.Period}}</div>
                <div class="col-1 text-center">
                    <ng-container *ngIf="suggest.Checked=='true'">
                        <i class="material-icons"
                           style="color:#33691E">
                            done
                        </i>
                    </ng-container>
                    <ng-container *ngIf="suggest.Checked!='true'">
                        <i class="material-icons"
                           style="color:#C9C9C9">
                            done
                        </i>
                    </ng-container>
                </div>
            </div>
        </li>

        <li *ngIf="courses && courses.length"
            class="list-group-item active d-flex align-items-center py-2 ">
            Course
        </li>
        <li class="list-group-item "
            *ngFor="let course of courses"
            (click)="openPicker(course)">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-nowrap">
                    <span class="pr-3">{{course.Name}}</span>
                </div>
            </div>
        </li>
    </ul>

    <ng-template #Loading>
        <div style="position:absolute;top:30%;left: 0px;right: 0px;text-align: center;">
            loading...
        </div>
    </ng-template>
</div>