<!-- 開始點名 -->
<div id="attendence-page"
     page>
  <nav aria-label="breadcrumb text-nowrap text-truncate">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span class="point"
              [routerLink]="['/']">Home</span>
      </li>
      <li class="breadcrumb-item">
        <span class="point"
              [routerLink]="['/attendance']">Attendance</span>
      </li>
      <ng-container *ngIf="!studentChecks; else titleText">
        <li class="breadcrumb-item active"
            aria-current="page">loading...</li>
      </ng-container>
      <ng-template #titleText>
        <li class="breadcrumb-item active"
            aria-current="page">{{groupInfo.name}}&nbsp;&nbsp;({{today}}：{{periodConf?.english_name}})</li>
      </ng-template>
    </ol>
  </nav>

  <ng-container *ngIf="!studentChecks; else elseTemplate">
    <div style="position:absolute;top:30%;left: 0px;right: 0px;text-align: center;">
      loading...
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="d-flex flex-column-reverse flex-sm-row mb-3">
      <div class="btn-group dropdown mr-auto">
        <button [matMenuTriggerFor]="menu"
                type="button"
                class="btn btn-dark dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <span *ngIf="!selectedAbsence">Type of leave</span>
          <span *ngIf="selectedAbsence">{{selectedAbsence_eng || selectedAbsence}}</span>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="!periodConf">loading...</div>
          <button mat-menu-item
                  *ngFor="let abb of periodConf?.Absence"
                  (click)="selectedAbsenceItem(abb)">{{abb?.english_name || abb.Name}}</button>
        </mat-menu>
      </div>
      <!-- <ng-container [ngTemplateOutlet]="reload"></ng-container> -->
      <ng-container [ngTemplateOutlet]="save"></ng-container>
    </div>

    <div class="st-list d-flex flex-wrap mt-3 mt-lg-1">
      <div *ngFor="let student of studentChecks"
           (click)="changeAttendance(student)"
           class="card st-check">
        <img src="{{student.data.PhotoUrl}}" />
        <div [ngStyle]="getAttendanceStyle(student)"
             class="ad-status text-truncate">{{getAttendanceText(student)}}</div>
        <!-- <div class="ad-status text-truncate">{{student.ID}}</div> -->
        <div class="card-body py-2 text-truncate">
          <h5 class="mb-0 text-truncate">{{student.data?.Name}}</h5>
          <div class="text-gray text-truncate d-flex">{{student.data?.StudentNumber}}
            <span class="ml-auto">{{student.data?.ClassName}}&nbsp;&nbsp;{{student.data?.SeatNo}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <!-- <ng-container [ngTemplateOutlet]="reload"></ng-container> -->
      <ng-container [ngTemplateOutlet]="save"></ng-container>
    </div>
  </ng-template>

  <ng-template #save>
    <button (click)="saveRollCall()"
            type="button"
            class="btn btn-lg btn-info">{{checkSummary? 'Submit (' + checkSummary +')': 'Submit'}}</button>
  </ng-template>

  <ng-template #reload>
    <button (click)="reloadStudentAttendances('重新載入完成！')"
            type="button"
            class="btn btn-lg btn-light mr-sm-1">Reload</button>
  </ng-template>
</div>