@media print {
	#pageHeader, #leftcolumn, #search1, .print-button, #condition, .search-text, .week-container {
		display: none;		
	}
	
	table.grid, table.linear {
		width: 650px;		
		margin-top: 10px;
	}
	
	table.grid th, table.grid td {
		page-break-inside: avoid;
		border: 1px solid #000;	
		width: 14%;	
	}	
	
	table.grid tr:first-child {
		width: 50px;
	}
	
	.tab-content {
		margin: 0;
		padding: 0;
	}
	
	.rightcolumn {
		padding: 0;
		margin: 0;
		position: static;
		overflow: visible;
	}

	.tag1, .tag2 {
		color: #000;
		border: 1px solid #000;
	}
	
	ul.tabs li {
		display: none;
	}

	ul.tabs li.tab-selected {
		display: block;
		border: 0px;
		text-align: center;
		width: 650px;		
	}
	
	.tabs-container {	
		overflow: visible;
	}
}