body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

input[type=text] {
	border: 1px solid #C4C4C4;
	/*border-radius: 3px;*/
	padding: 8px;
	line-height: 17px;
	color: #555;
}

input[type=text]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin solid 3px;
}

input[type=text].inputerror {
	border-color: rgba(255, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* button */
.print-button {
	background-color: #E7E7E7;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	padding: 9px 20px;
	position: fixed;
	top: 26px;
	right: 50px;
	cursor: pointer;
}
.print-button:hover {
	background-color: #D3D3D3;
	border-color: #9A9A9A;
}

/*  layer */
.leftcolumn {
	/*	background-color: red;*/
	padding: 0;
	margin: 0;
	position: absolute;
	top: 75px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	width: 200px;
	min-width: 200px;
}
div.leftcolumn hr {
	border: 0px;
	border-top: 1px solid #9A9A9A;
	margin: 8px 0px;
}


.rightcolumn {
	/*	background-color: green;*/
	padding: 0;
	margin: 0;
	position: absolute;
	top: 80px;
	left: 220px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}


/* title*/
.maintitle {
	background-color: #E2E2E2;
	border-bottom: 1px solid #B8B8B8;
	color: #DD4100;
	font-weight: bold; /*margin-top: 13px;*/
	padding: 10px;
	font-size: 25px;
}

.subtitle {
	background-color: #E42100;
	color: #FFF;
	/*font-weight: bold;*/
	margin: 28px 10px 0px 0px;
	padding: 10px 40px 10px 14px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 7px;
	display: inline-block;
}

/* left menu */
ul.menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px 13px 0px 0px;
}

.menu1 {
	/*font-weight: bold;*/
	padding: 8px 8px 8px 14px;
	border-left: 4px solid #FFF;
	cursor: pointer;
}

.menu-selected {
	border-color: #EB1700;
	color: #D90B00;
}

ul.menu li:hover {
	background-color: #EEEEEE;
}


/* search */
.search-text {
	color: #DF0B00;
	font-size: 18px;
	margin: 5px 0px 5px 0px;
}

/* table */
table.grid, table.linear {
	border-collapse: collapse;
	margin: auto;
}

table.grid th, table.grid td {
	border: 1px solid #E1E1E1;
	text-align: center;
}
table.grid th {
	background-image: url("../images/th-bg.png");
	background-repeat: repeat-x;
	padding: 8px;
	line-height:20px;
}
table.grid td {
	width: 150px;
	height: 150px;
	background-color: #FFF;
}

table.grid  tr th:first {
	width: 10px;
	height: 150px;
	background-color: #FFF;
}

table.grid div {
	margin-top: 12px;
	font-size: 13px;
}

table.linear {
	border: 1px solid #CCCCCC;
	width: 100%;
}
table.linear th, table.linear td {
	background-color: #FAFAFA;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 13px 5px;
	text-align: center;
}

.d1 {
	position: relative;
	width: 100%;
	height: 100%;
}

.d2 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.d3 {
	text-align: center;
	position: relative;
	top: 35px;
}


/* tag  */
.tag {
	 text-align: left;
}
.tag1, .tag2 {
	padding: 3px 10px;
	border-radius: 5px;
	margin-left:3px;
	margin-right:10px;
	color: #FFFFFF;
}
.tag1 {
	background-color: #327AFF;
}
.tag2 {
	background-color: #AC85FF;
}

/* tabs */
.tabs-container {	
	overflow: hidden;
	/*border-bottom:1px solid #EBEBEA;*/
}
.tabs-container:hover {	
	overflow-x: auto;
}

.tab1, .tab2 {
	padding: 10px 30px;
	border: 0px solid #EBEBEA;
	border-bottom: 0px;
	background-color: #FFFFFF;
	border-top: 2px solid #FFFFFF;
}

.tab1 a, .tab2 a {
	color: #272727;
}

.tab-selected {
	background-color: #F3F3F3;
	border-top: 2px solid #E42100;
}

.tab-selected a {
	color: #272727;
}

.tab-content {
	margin-top: 0;
	padding: 0px;
	background-color:#F1F1F1;
}

.tab-content>div{
	padding: 20px;
}

ul.tabs {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 5000px;
}

ul.tabs li {
	display: block;
	float: left;
}

ul.tabs li > a {
	text-decoration: none;
}

ul.tabs li:hover {
	color:#272727;
	background-color:#F1F1F1;
	border-top:2px solid #E42100;
}



li > a:hover {
	color:#272727;
	background-color:#F3F3F3;
	/*background-color: black;*/
}

/* Week Control */
div.week-container {
	/*
	position: relative;
	clear: left;
	margin-top: 10px;
	margin-bottom: 20px;
	*/
	position: fixed;
	top: 26px;
	right: 150px;
	width: 150px;
}
a.week-last {
	text-decoration:none;
	color:#333;
}

a.week-last:hover{
	color:#E42100;
}

a.week-next {
	display: block;
	color:#333;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration:none;
}

a.week-next:hover{
	color:#E42100;
}
/* jQuery UI autocomplete */
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: 0;
	line-height: 1.5;
}
.ui-autocomplete.ui-menu .ui-menu-item {
	font-size: 0.8em;
}
.ui-autocomplete {
	max-height: 500px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
	* we use height instead, but this forces the menu to always be this tall
	*/
* html .ui-autocomplete {
	height: 500px;
}

.empty_column {
	/*background-image: url("../images/table.png");*/
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

．week_last {
	color:black;
}

.searchBar {
	position: fixed;
	top: 26px;
	left: 220px;
}
	

@import "print.css";