<!-- Comment Template -->
<div id="behavior-comment">
    <nav aria-label="breadcrumb text-nowrap text-truncate">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span class="point"
                      [routerLink]="['/']">Home</span></li>
            <li class="breadcrumb-item">
                <span class="point"
                      [routerLink]="['/behavior']">Behavior</span></li>
            <li class="breadcrumb-item active"
                aria-current="page">Comment Template</li>
        </ol>
    </nav>
    <div class="input-group mb-3">
        <!-- 點到此頁，請預設此 input 是 focus 狀態 -->
        <input type="text"
               class="form-control"
               placeholder="Add Template"
               [(ngModel)]="addText">
        <div class="input-group-append">
            <button class="btn btn-outline-primary"
                    type="button"
                    (click)="add()">ADD</button>
        </div>
    </div>
    <h3 class="my-3">Your Template</h3>
    <div class="t-list d-md-flex justify-content-between flex-wrap">
        <div class="alert alert-danger alert-dismissible fade show"
             *ngFor="let comment of userDefineTemplate">
            {{comment.Comment}}
            <button type="button"
                    class="close"
                    (click)="delete(comment)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <div class="alert alert-danger alert-dismissible fade show">
          Careless and absent - minded in homework
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show">
          Missed swim class ( Please provide note within a week)
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div> -->
    </div>
    <h3 class="my-3">Default Template</h3>
    <div class="t-list d-md-flex justify-content-between flex-wrap">
        <div class="alert alert-light"
             *ngFor="let comment of defaultTemplate">
            {{comment.Comment}}
        </div>
        <!-- <div class="alert alert-light">
          Sleeping
      </div>
      <div class="alert alert-light">
          Not prepared for class
      </div>
      <div class="alert alert-light">
          Interrupted Class
      </div>
      <div class="alert alert-light">
          Speaking Chinese in English-only class
      </div>
      <div class="alert alert-light">
          Using inappropriate language
      </div>
      <div class="alert alert-light">
          Eating or drinking in class
      </div>
      <div class="alert alert-light">
          Failure to hand in homework
      </div>
      <div class="alert alert-light">
          Incomplete homework or class assignment
      </div> -->
    </div>
</div>