<!-- 課程介紹內容 -->
<ng-container>
    <!-- <div class="modal fade"
     id="crouseInfo"
     tabindex="-1"
     role="dialog"
     aria-labelledby="crouseInfoTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content"> -->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="crouseInfoTitle">
                {{data.subject.SubjectName}}
            </h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light font-weight-bold">課程目標</li>
            <li *ngIf="data.subject.Goal"
                class="list-group-item">
                <pre class="my-0"
                     style="font-size: 100%">{{data.subject.Goal}}</pre>
            </li>
            <li *ngIf="!data.subject.Goal"
                class="list-group-item text-gray">
                未設定
            </li>
            <li class="list-group-item list-group-item-light font-weight-bold">上課內容</li>
            <li *ngIf="data.subject.Content"
                class="list-group-item">
                <pre class="my-0"
                     style="font-size: 100%">{{data.subject.Content}}</pre>
            </li>
            <li *ngIf="!data.subject.Content"
                class="list-group-item text-gray">
                未設定
            </li>
            <li class="list-group-item list-group-item-light font-weight-bold">備註</li>
            <li *ngIf="data.subject.Memo"
                class="list-group-item">
                <pre class="my-0"
                     style="font-size: 100%">{{data.subject.Memo}}</pre>
            </li>
            <li *ngIf="!data.subject.Memo"
                class="list-group-item text-gray">
                未設定
            </li>
            <li class="list-group-item d-flex flex-column flex-md-row align-items-md-center py-2">
                <div class="mr-auto">
                    <span class="badge badge-primary">科目級別：{{data.subject.Level}}</span>
                    <span class="badge badge-secondary">學分數：{{data.subject.Credit}}</span>
                    <span *ngIf="this.data.countMode=='志願序'"
                          class="badge badge-light my-2 my-md-0 mr-md-3">
                        <span>第一志願 / 名額：</span>
                        <span>{{data.subject.FirstWishCount}} / {{data.subject.Limit}}</span>
                    </span>
                    <span *ngIf="this.data.countMode=='先搶先贏'"
                          class="badge badge-light my-2 my-md-0 mr-md-3">
                        <span>已選 / 名額：</span>
                        <span>{{data.subject.AttendCount}} / {{data.subject.Limit}}</span>
                    </span>
                </div>
                <button *ngIf="buttonText"
                        class="btn btn-info"
                        (click)="join()">{{buttonText}}</button>
            </li>
        </ul>
    </div>
</ng-container>