.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
table thead th {
  vertical-align: middle !important;
}
/*自訂*/
#mainMsg {
  z-index: 5000;
  position: fixed;
  max-width: 1020px;
  left: 0;
  width: 100%;
  text-align: center;
}
.my-err-info {
  cursor: pointer;
}
#namelist table tbody {
  cursor: pointer;
}
#namelist table tbody tr.action td {
  color: white;
  background: #69C;
}
.modal-body .form-horizontal .controls {
  text-align: left;
}
.modal-body .my-code {
  padding-top: 5px;
  font-family: consolas;
}
.monospaced {
  font-family: consolas;
}
