/* 使中間區塊與左方搜尋對齊 */
h2 {
  margin-bottom: 7px;
}
.my-slash {
  color: #677E30;
  padding-right: .25em;
}
.my-widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
}
.my-widget .my-widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.my-widget .my-widget-header h3 {
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 15px;
  font-weight: 800;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.my-widget .my-widget-content {
  padding: 20px 15px 15px;
  background: white;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.my-widget .my-widget-content .table tr:first-of-type th,
.my-widget .my-widget-content .table tr:first-of-type td {
  border-top: 0;
}
.my-widget .my-widget-header + .my-widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.my-widget .my-widget-header [class^="icon-"],
.my-widget .my-widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
#club-list .my-add-in-club a {
  color: red;
}
span[data-type=Opening] {
  font-size: 15px;
  margin-left: 15px;
}
.my-nostart {
  filter: alpha(opacity=50);
  opacity: .4;
}
.my-nostart .my-widget-content {
  background: url(../img/forbid.png) 50% no-repeat;
}
