<div *ngIf="contract;else Loading"
     class="main-menu d-flex flex-wrap justify-content-center">
    <div (click)="goGradebook()">
        <img src="assets/img/gradebook.png">
        <div>Gradebook</div>
    </div>
    <div [routerLink]="['/behavior']">
        <img src="assets/img/behavior.png">
        <div>Behavior</div>
    </div>
    <div [routerLink]="['/attendance']">
        <img src="assets/img/attendence.png">
        <div>Attendance</div>
    </div>
    <div [routerLink]="['/weekly_report']">
        <img src="assets/img/weekly-report.png">
        <div>Weekly Report</div>
    </div>
</div>
<ng-template #Loading>
    <div style="position:absolute;top:50%;left: 0px;right: 0px;text-align: center;">
        loading...
    </div>
</ng-template>
<!-- <button class="ml-auto btn btn-dark m-3" [routerLink]="['/behavior']">Behavior</button>
<button class="ml-auto btn btn-dark m-3" [routerLink]="['/weekly_report']">Weekly Report</button> -->