<!DOCTYPE html>
<html ng-app="entergrade">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://web.ischool.com.tw/devlibrary/gadget.js"></script>
     <script>
        init({
            application: "test.b.nehs.hc.edu.tw",
            paramValues: {},
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311'
            }
        });
    </script>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/entergrade.js"></script>
</head>
<body ng-controller="MainCtrl">
    <div id="gadget" class="my-page" ng-if="config && courseList">
        <h1>{{current.SchoolYear}} {{current.Semester == '1' ? '1st' : (current.Semester == '2' ? '2nd' :'')}} Semester Gradebook</h1>
        <div class="alert alert-info" ng-if="examList[0].Opening || examList[1].Opening">
            <span ng-repeat="item in examList">
                <p ng-if="item.Opening" style="margin:0;">{{item.Name}}: {{item.Begin}} ~ {{item.End}} {{item.Message}}</p>
            </span>
        </div>
        <div class="btn-group">
            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.Course.CourseName}} <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li ng-repeat="item in courseList" ng-class="{active:item.selected}">
                    <a href="javascript:;" ng-click="selectCourse(item)">{{item.CourseName}}</a>
                </li>
            </ul>
        </div>
        <div ng-if="studentList" class="row" style="margin-top:10px;">
            <div class="col-sm-9 hidden-xs">
                <table class="table table-bordered table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="col-md-2 text-center">ID</th>
                            <th class="col-md-1 text-center">No.</th>
                            <th class="col-md-5 text-center">Name</th>
                            <th ng-repeat="exam in examList" class="col-md-2 text-center">{{exam.Name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in studentList"
                            _ng-class="{'success':(current.SelectMode=='ID'&&item.StudentID==current.SelectStudentID)||(current.SelectMode=='No.'&&item.SeatNo==current.SelectSeatNo),'warning':item.selected}"
                            ng-class="{'warning':item.selected}">
                            <td>{{item.StudentNumber}}</td>
                            <td>{{item.SeatNo}}</td>
                            <td class="text-left">
                                {{item.StudentChineseName}} {{item.StudentNickname ? '('+item.StudentNickname+')' : ''}}
                            </td>
                            <td ng-repeat="exam in examList" style="cursor:pointer;" ng-click="setCurrent(item, exam, true, true)">
                                <span ng-class="{'text-danger':item[exam.Name] < 60}">{{item[exam.Name]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Student Info.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group btn-block">
                                    <a href="" class="btn btn-link btn-block dropdown-toggle" data-toggle="dropdown" style="padding:0; color:#333; text-align:left;">{{current.SelectMode}} <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li ng-class="{active:current.SelectMode=='ID'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('ID')">ID</a>
                                        </li>
                                        <li ng-class="{active:current.SelectMode=='No.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('No.')">No.</a>
                                        </li>
                                        <li ng-class="{active:current.SelectMode=='Seq.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('Seq.')">Seq.</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-center">
                                <input ng-if="current.SelectMode=='ID'"
                                       ng-model="current.SelectStudentNumber"
                                       ng-keydown="submitStudentID($event)"
                                       ng-change="typeStudentID()"
                                       id="id-textbox"
                                       type="text"
                                       class="form-control"
                                       select-on-click />
                                <input ng-if="current.SelectMode=='No.'"
                                       ng-model="current.SelectSeatNo"
                                       ng-keydown="submitStudentNo($event)"
                                       ng-change="typeStudentNo()"
                                       id="seatno-textbox"
                                       type="text"
                                       class="form-control"
                                       select-on-click />
                                <button ng-if="current.SelectMode=='Seq.'"
                                        class="btn btn-default btn-xs"
                                        id="prve-button"
                                        type="button"
                                        ng-click="goPrev()">
                                    <<
                                </button>
                                <span ng-if="current.SelectMode=='Seq.'">
                                    &nbsp;
                                </span>
                                <button ng-if="current.SelectMode=='Seq.'"
                                        class="btn btn-default btn-xs"
                                        id="next-button"
                                        type="button"
                                        ng-click="goNext()">
                                    >>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>
                                {{current.Student.StudentChineseName}}
                                <br>{{current.Student.StudentNickname}}
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">

                                <div class="btn-group btn-block">
                                    <a href="" class="btn btn-link btn-block dropdown-toggle" data-toggle="dropdown" style="padding:0; color:#333; text-align:left;">{{current.Exam.Name}} <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li ng-repeat="examItem in examList" ng-class="{active:examItem==current.Exam}">
                                            <a href="javascript:;" ng-click="setCurrent(current.Student, examItem, false, true)">{{examItem.Name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div ng-if="!current.Exam.Opening && current.Student"
                                     ng-class="{'text-danger':current.Student[current.Exam.Name] < 60}"
                                     class="text-center">{{current.Student[current.Exam.Name]||'&nbsp;'}}</div>
                                <input ng-if="current.Exam.Opening && current.Student"
                                       ng-model="current.Score"
                                       ng-keydown="enterGrade($event)"
                                       id="grade-textbox"
                                       type="text"
                                       class="form-control"
                                       select-on-click />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-if="!(config && courseList)" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;">Loading...</div>
</body>
</html>
