table input[type="text"] {
  margin: 0;
}
.radio.inline {
  white-space: nowrap;
}
.table tbody tr.my-title > td {
  background: #F6FBFF;
}
.my-tab {
  margin-bottom: -3px;
  border-bottom: none;
}
.my-tab > .active > a,
.my-tab > .active > a:hover {
  color: #08c;
}
.my-proimg {
  position: relative;
  cursor: pointer;
  text-align: center;
}
.my-tablephoto div:hover:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background: #000;
  content: '變更相片';
  opacity: .7;
}
.my-table td a {
  display: block;
}
/*自訂*/
.my-err-info {
  cursor: pointer;
}
.my-trash {
  cursor: pointer;
}
.my-error {
  background-color: #F2DEDE;
}
.my-print-page .table {
  border: 1px solid #DDD;
}
.my-print-page .table th,
.my-print-page .table td {
  border-left: 1px solid #DDD;
}
