<!DOCTYPE html>
<html ng-app="gradebook">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/gadget.js"></script>
    <script>
        init({
            application: "test.whsh.tc.edu.tw",
            paramValues: {
                "DefaultRound": "2" //預設小數點位數
                //"第一次期中考Round": "1",
                //"第二次期中考Round": "2",
                //"期末考Round": "7",
                //"試算Round": "1", //指定評量項目小數點位數
                //"學期成績Round": "2"
            },
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
                account: 'teacher01.whsh@1campus.net',
                password: window.prompt('password:')
            }
        });
    </script>


    <title>GradeBook</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script>
        $(function () {
            var newEditor = $("#gadget .hidden-xs").find("div").eq(0).clone();
            newEditor.css({ position: "", float: "", width: "" }).addClass('visible-xs');
            newEditor.find("table").eq(0).removeAttr("bs-affix").removeAttr("data-offset-top").removeAttr("style");
            newEditor.find("table").eq(0).find("tbody").eq(0).prepend(newEditor.find("table").eq(0).find("tbody").eq(0).find("tr").eq(1));
            $("#gadget").append(newEditor);
        });
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/sortable.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/angular-strap.min.js"></script>
    <script src="js/angular-strap.tpl.min.js"></script>

    <script src="js/gradebook.js"></script>

    <style>
        .dropdown-header {
            padding: 3px 10px;
            font-size: 14px;
        }

        .importStudentPreview {
            padding: 5px 10px;
            border-radius: .25em;
            border: solid 1px lightgray;
            margin: 3px 0px;
        }

            .importStudentPreview .studentInfo {
            }

        .my-page{

        }
    </style>
</head>


<body ng-controller="MainCtrl">
    <div ng-if="!(current && studentList && examList)" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;">Loading...</div>
    <div id="gadget" class="my-page" ng-if="current && studentList && examList">
        <h1 class="hidden-xs">成績管理</h1>
        <div>
            <div class="btn-group pull-right"
                 ng-init="getProcess()">
                <div class="btn-group"
                     ng-if="process">
                    <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>批次</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in process"
                            ng-if="!item.Hide"
                            ng-class="{'disabled':item.Disabled,'dropdown-header':item.Type=='Header'}"
                            ng-style="item.Type=='Header'?'padding-left:10px;':''">
                            <span ng-if="item.Type=='Header'">
                                {{item.Name}}
                            </span>
                            <a ng-if="item.Type=='Function'"
                               href="javascript:;" ng-click="(item.Type!='Function'||item.Disabled)?'':item.Fn()">
                                {{item.Name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <a ng-click="saveAll()" class="btn btn-default" ng-class="{'btn-danger':!checkAllTable()}">
                    <i class="fa fa-floppy-o"></i>
                    儲存
                </a>
                <a ng-if="_HIDE_"
                   ng-click="showCreateModal()" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    新增
                </a>
                <a ng-if="_HIDE_"
                   ng-click="showManageModal()" class="btn btn-default">
                    <i class="fa fa-list-alt"></i>
                    編輯欄位
                </a>
            </div>
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current.Course.CourseName}}&nbsp;<span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="course in courseList"
                        ng-class="{active:course==current.Course}">
                        <a href="javascript:;" ng-click="setCurrentCourse(course)">{{course.CourseName}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-if="studentList" class="hidden-xs" style="margin-top:10px;">
            <div style="position:relative;float:right;width:260px;">
                <table class="table table-bordered table-striped"
                       style="width:260px;"
                       data-offset-top="145" bs-affix>
                    <thead>
                        <tr>
                            <th colspan="2">成績輸入</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:95px;">
                                <div class="btn-group btn-block">
                                    <a href="" class="btn btn-link btn-block dropdown-toggle" data-toggle="dropdown" style="padding:0; color:#333; text-align:left;">{{current.SelectMode=='No.'?"座號搜尋":"切換學生"}} <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li ng-class="{active:current.SelectMode=='No.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('No.')">座號搜尋</a>
                                        </li>
                                        <li ng-class="{active:current.SelectMode=='Seq.'}">
                                            <a href="javascript:;" ng-click="changeSelectMode('Seq.')">切換學生</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-center" style="padding:0px;">
                                <div ng-if="current.SelectMode=='No.'"
                                     class="input-group">
                                    <input ng-model="current.SelectSeatNo"
                                           ng-keydown="submitStudentNo($event)"
                                           ng-change="typeStudentNo()"
                                           ng-class="{disabled:!current.Student}"
                                           type="text"
                                           placeholder="{{isMobile?'':'Enter送出'}}"
                                           class="form-control pg-seatno-textbox"
                                           select-on-click />
                                    <span class="input-group-btn">
                                        <a ng-click="submitStudentNo()"
                                           class="btn btn-default">
                                            送出
                                        </a>
                                    </span>
                                </div>

                                <div ng-if="current.SelectMode=='Seq.'"
                                     class="btn-group btn-group-sm">
                                    <a class="btn btn-default"
                                       ng-click="goPrev()">
                                        &nbsp;&nbsp;&nbsp; << &nbsp;&nbsp;&nbsp;
                                    </a>
                                    <a class="btn btn-default"
                                       ng-click="goNext()">
                                        &nbsp;&nbsp;&nbsp; >> &nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>目前學生</td>
                            <td>
                                <span ng-if="current.Student.ClassName">
                                    {{current.Student.ClassName}}
                                    <span ng-if="current.Student.SeatNo">({{current.Student.SeatNo}})</span>
                                </span>
                                <span>{{current.Student.StudentName}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <div class="btn-group btn-block">
                                    <a href="javascript:void(0)"
                                       class="btn btn-link btn-block dropdown-toggle"
                                       data-toggle="dropdown"
                                       style="padding:0; color:#333; text-align:left;">

                                        <i ng-if="current.Exam && current.Exam.Lock"
                                           style="min-width: 14px;"
                                           class="fa fa-lock"></i>
                                        <i ng-if="current.Exam && current.Exam.Permission == 'Read' && !current.Exam.Lock"
                                           style="min-width: 14px;"
                                           class="fa fa-ban"></i>
                                        <i ng-if="current.Exam && current.Exam.Permission == 'Editor' && !current.Exam.Lock && current.Exam.Type == 'Program'"
                                           style="min-width: 14px;"
                                           class="fa fa-cogs"></i>
                                        <i ng-if="current.Exam && current.Exam.Permission == 'Editor' && !current.Exam.Lock && current.Exam.Type !== 'Program'"
                                           style="min-width: 14px;"
                                           class="fa fa-edit"></i>
                                        {{current.Exam?current.Exam.Name:'請選擇'}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="width:100%;">
                                        <li ng-repeat="examItem in examList | filter: filterPermission" ng-class="{active:examItem==current.Exam}">
                                            <a href="javascript:;" ng-click="setCurrent(current.Student, examItem, false, true)">
                                                <i ng-if="examItem.Lock"
                                                   style="min-width: 14px;"
                                                   class="fa fa-lock"></i>
                                                <i ng-if="examItem.Permission == 'Read' && !examItem.Lock"
                                                   style="min-width: 14px;"
                                                   class="fa fa-ban"></i>
                                                <i ng-if="examItem.Permission == 'Editor' && !examItem.Lock && examItem.Type == 'Program'"
                                                   style="min-width: 14px;"
                                                   class="fa fa-cogs"></i>
                                                <i ng-if="examItem.Permission == 'Editor' && !examItem.Lock && examItem.Type !== 'Program'"
                                                   style="min-width: 14px;"
                                                   class="fa fa-edit"></i>
                                                {{examItem.Name}}
                                            </a>
                                        </li>
                                        <li ng-if="_HIDE_&&(examList | filter: filterPermission).length > 0"
                                            class="divider"></li>
                                        <li ng-if="_HIDE_">
                                            <a href="javascript:;" ng-click="showCreateModal()"><i class="fa fa-plus"></i> 新增</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{current.Exam?current.Exam.SubName||current.Exam.Name:''}}</td>
                            <td ng-if="current.Exam && current.Student">
                                <div ng-if="current.Exam.Lock || !current.Student || current.Exam.Type == 'Program' || current.Exam.Permission !== 'Editor'"
                                     ng-class="{'text-danger':current.Student[current.Exam.Name] < 60}"
                                     class="text-center">
                                    {{current.Student['Exam'+current.Exam.ExamID]=='0'?('0'):(current.Student['Exam'+current.Exam.ExamID]||'&nbsp;')}}
                                </div>

                                <div ng-if="!current.Exam.Lock && current.Student && current.Exam.Type == 'Number' && current.Exam.Permission == 'Editor'"
                                     class="input-group">
                                    <input ng-model="current.Value"
                                           ng-keydown="enterGrade($event)"
                                           type="text"
                                           class="form-control pg-grade-textbox"
                                           placeholder="{{isMobile?'':'Enter送出'}}"
                                           select-on-click />
                                    <span class="input-group-btn">
                                        <a ng-click="enterGrade()"
                                           class="btn btn-default">
                                            送出
                                        </a>
                                    </span>
                                </div>

                                <div ng-if="!current.Exam.Lock && current.Student && current.Exam.Type == 'Text' && current.Exam.Permission == 'Editor'"
                                     class="input-group">
                                    <input ng-model="current.Value"
                                           ng-keydown="enterGrade($event)"
                                           type="text"
                                           class="form-control pg-grade-textbox"
                                           placeholder="{{isMobile?'':'Enter送出'}}"
                                           select-on-click />
                                    <span class="input-group-btn">
                                        <a ng-click="enterGrade()"
                                           class="btn btn-default">
                                            送出
                                        </a>
                                    </span>
                                </div>

                                <div ng-if="!current.Exam.Lock && current.Student && (current.Exam.Type == 'Enum') && current.Exam.Permission == 'Editor'"
                                     class="btn-group">
                                    <button ng-repeat="option in current.Exam.Option"
                                            ng-click="selectValue(option.Label)"
                                            ng-class="{active:current.Value==option.Label}"
                                            type="button"
                                            class="btn btn-default btn-sm"
                                            style="width:51px;">
                                        {{option.Label}}
                                    </button>
                                </div>
                            </td>
                            <td ng-if="!current.Exam || !current.Student"
                                class="text-center">
                                --
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div style="margin-right:270px;">
                <table class="table table-bordered table-striped table-hover text-center"
                       style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th class="text-center"
                                style="padding: 8px 2px;width: 95px;"
                                rowspan="2">
                                學生
                            </th>
                            <th ng-repeat="exam in examList | filter: filterPermission"
                                class="text-center"
                                style="{{exam.Group?'padding: 8px 2px;border: none':'padding: 8px 2px;'}}"
                                rowspan="{{exam.Group?1:2}}">
                                <span ng-if="!exam.Group"
                                      style="max-height:60px;display:inline-block;overflow:hidden;text-overflow:ellipsis;">
                                    {{exam.Name}}
                                </span>
                                <span ng-if="exam.Group"></span>
                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="exam in examList | filter: filterPermission"
                                ng-if="exam.Group"
                                class="text-center"
                                style="padding: 8px 2px;">
                                <h6 style="max-height:40px;display:inline-block;overflow:hidden;text-overflow:ellipsis;margin: 0px;">
                                    {{exam.SubName}}
                                </h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stuRec in studentList"
                            ng-class="{'warning':stuRec.StudentID==current.Student.StudentID}"
                            style="cursor:pointer;">
                            <td class="text-left"
                                ng-click="setCurrent(stuRec, current.Exam, true, true)">
                                <span ng-if="stuRec.SeatNo"
                                      style="min-width:24px;display:inline-block;">{{stuRec.SeatNo}}.&nbsp;</span>
                                <span>{{stuRec.StudentName}}</span>
                            </td>
                            <td ng-repeat="exam in examList | filter: filterPermission"
                                class="text-center"
                                style="position:relative;"
                                ng-click="setCurrent(stuRec, exam, true, true)">
                                <div ng-if="!checkOneCell(stuRec, 'Exam'+exam.ExamID)"
                                     ng-attr-title="{{stuRec['Exam'+exam.ExamID+'Origin']?'原值為：'+stuRec['Exam'+exam.ExamID+'Origin']:''}}"
                                     style="display:inline-block;background-color:red;position:absolute;left:3px;top:3px;width:5px;height:6px;border-radius:5px;">
                                </div>
                                <h6 ng-if="exam.Group" style="margin:0px;display:inline-block;">
                                    <small>
                                        <span>
                                            {{stuRec['Exam'+exam.ExamID]}}
                                        </span>
                                    </small>
                                </h6>
                                <span ng-if="!exam.Group"
                                      ng-class="{'text-danger':stuRec['Exam'+exam.ExamID] < 60}">
                                    {{stuRec['Exam'+exam.ExamID]}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="importModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{importProcess.Name}}</h4>
                </div>
                <div class="modal-body" ng-if="!importProcess.ParseValues">
                    <div style="margin:15px 0px;">
                        <span>使用說明</span>
                        <ol class="">
                            <li>
                                <span>從excel中複製成績</span>
                                <ul>
                                    <li class="text-danger">請先確認excel中學生的人數及順序皆與系統相符</li>
                                    <li class="text-danger">複製成績時，僅需圈選成績的部分，不含學生姓名及表頭</li>
                                </ul>
                            </li>
                            <li>於下方文字方塊中貼上</li>
                            <li>使用"解析"按鈕，進行解析</li>
                            <li>預覽資料確認成績正確</li>
                            <li>
                                <span>使用"匯入"按鈕，進行匯入</span>
                                <ul>
                                    <li class="text-danger">如果輸入資料有錯誤，將無法匯入</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                    <div class="row" style="margin:20px 0px;">
                        <textarea class="col-xs-12"
                                  rows="5"
                                  ng-model="importProcess.ParseString"></textarea>
                    </div>
                </div>
                <div class="modal-body" ng-if="importProcess.ParseValues">
                    <p>預覽</p>
                    <div class="row">
                        <div ng-repeat="stuRec in studentList"
                             class="col-xs-6 col-sm-4 col-md-3">
                            <div class="importStudentPreview">
                                <span class="studentInfo">
                                    <span ng-if="stuRec.SeatNo"
                                          style="min-width:24px;display:inline-block;">{{stuRec.SeatNo}}.&nbsp;</span>
                                    <span>{{stuRec.StudentName}}</span>
                                </span>
                                <div ng-if="importProcess.ParseValues[$index]=='錯誤'"
                                     class="pull-right label label-danger"
                                     style="font-size:inherit;">錯誤</div>
                                <div ng-if="importProcess.ParseValues[$index]==''"
                                     class="pull-right text-danger">--</div>
                                <div ng-if="importProcess.ParseValues[$index]!='錯誤'&&importProcess.ParseValues[$index]!=''"
                                     class="pull-right"
                                     ng-class="{'text-danger':importProcess.ParseValues[$index] < 60}">{{importProcess.ParseValues[$index]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" ng-if="!importProcess.ParseValues" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-if="!importProcess.ParseValues" ng-click="importProcess.Parse()">解析</button>
                    <button type="button" class="btn btn-default btn-sm" ng-if="importProcess.ParseValues" ng-click="importProcess.Clear()">返回</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-if="importProcess.ParseValues" ng-click="importProcess.Import()" ng-class="{disabled:importProcess.HasError}">匯入</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
