<!-- <div class="container-fluid">
    <h1 class="display-1">
        <i class="fa fa-bell"></i>{{head}}
    </h1>

    <ul>
        <li *ngFor="let lang of langs">{{lang}}</li>
    </ul>

    <div *ngIf="loading" class="alert alert-info">資料載入中...</div>

    <div *ngIf="!loading">
        <div *ngIf="!error">
            <h2 class="alert alert-success">已連接: {{accessPoint}}</h2>
            <h2>學校資訊：</h2>
            <pre class="alert alert-success">{{schoolInfo | json}}</pre>
        </div>
        <pre *ngIf="error" class="alert alert-danger">發生錯誤：<br/>{{error | json}}</pre>
    </div>
</div> -->


<div class="container-fluid cbs d-flex justify-content-between flex-column">
    <div *ngIf="loading" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;z-index: 100;">Loading...</div>
    <div *ngIf="examList&&examList.length==0" style="position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-50px;z-index: 100;">沒有IEP學生</div>
    <!-- 選課首頁 -->
    <div *ngIf="examList&&examList.length>0" id="index" page>
        <nav aria-label="breadcrumb text-nowrap text-truncate">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">IEP 評分標準填報</li>
            </ol>
        </nav>
        <div class="btn-group dropdown mb-3">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{current.Exam.Name}}
            </button>
            <div class="dropdown-menu">
                <a *ngFor="let examRec of examList" (click)="setCurrentExam(examRec)" class="dropdown-item" href="javascript:void(0)">{{examRec.Name}}</a>
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" [ngStyle]="{'width': 100*current.Exam.Progress/(current.Exam.Total||1)+'%'}" >
                <span>{{current.Exam.Progress}}&nbsp;/&nbsp;{{current.Exam.Total}}</span>
            </div>
        </div>
        <ul *ngFor="let stuRec of current.Exam.Student" class="list-group mb-3">
            <li class="list-group-item active">
                <span>{{stuRec.ClassName}}（{{stuRec.SeatNo}}）{{stuRec.StudentName}}</span>
                <small class="text-gray">&nbsp;{{stuRec.IEPTag}}</small>
            </li>
            <li *ngFor="let courseRec of stuRec.Course" class="list-group-item list-group-item-action d-flex flex-column flex-sm-row align-items-sm-center py-2">
                <span class="text-nowrap col-4 col-md-3 col-xl-2">
                    <span>{{courseRec.CourseName}}</span>
                    <small *ngIf="courseRec.ExamType" class="text-gray">&nbsp;({{courseRec.ExamType}})</small>
                </span>
                <span class="mt-2 mt-sm-0" [ngClass]="{'text-danger':(!courseRec.IEPText)&&courseRec.InTimeRange=='true', 'text-gray':(courseRec.IEPText || !courseRec.InTimeRange=='true' )}">{{courseRec.IEPText||'尚未填報'}}</span>
                <button [ngClass]="{'disabled':!courseRec.ItemTemplate}" (click)="openInput(content, stuRec, courseRec)" class="btn btn-info ml-3 mt-2 mt-sm-0 ml-sm-auto">填報</button>
            </li>
        </ul>
    </div>

    <!-- 課程介紹內容 -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title mr-3" id="writeContentTitle">
                {{current.TargetStudent.StudentName}}&nbsp;-&nbsp;{{current.TargetIEP.CourseName}}&nbsp;{{current.TargetIEP.ExamType}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of current.TargetIEP.ItemTemplate" class="list-group-item">
                <div class="custom-control custom-radio mb-0">
                    <input type="radio" id="{{item.Key}}" name="{{item.Key}}" class="custom-control-input" [checked]="item.Key==current.TargetIEP.IEPitem"
                        (change)="current.TargetIEP.IEPitem=item.Key" />
                    <label class="custom-control-label w-100" for="{{item.Key}}">
                        <span *ngFor="let part of item.List; let i = index">
                            <span *ngIf="part!='##INPUT##'&&part!='##TEXTAREA##'">{{part}}</span>
                            <input *ngIf="part=='##INPUT##'" [(ngModel)]="item.Value[i]" class="form-control col-1 d-inline mx-2 p-0 h-auto" type="text"
                                placeholder="" />
                            <textarea *ngIf="part=='##TEXTAREA##'" [(ngModel)]="item.Value[i]" class="form-control" rows="2"></textarea>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-footer">
            <button class="btn btn-info" (click)="current.TargetIEP.Save()">儲存</button>
        </div>
    </ng-template>

    <!-- <div class="modal fade" id="writeContent" tabindex="-1" role="dialog" aria-labelledby="writeContentwriteContentTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mr-3" id="writeContentTitle">
                        王小明（101 20）中國文化基本教材
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="custom-control custom-radio mb-0">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">能力與一般人相同，不需調整</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-radio mb-0">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">
                                減量：考原班定考卷，只寫
                                <input class="form-control w-25 d-inline mx-2 p-0 h-auto" type="text" placeholder="請輸入">大題，調整配分
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-radio mb-0">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label w-100" for="customRadio3">
                                <textarea class="form-control" rows="2"></textarea>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item text-right">
                        <button class="btn btn-info">儲存</button>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>