/*自訂*/
.my-all-list tbody tr {
  cursor: pointer;
}
.side-animate.ng-enter {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -ms-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position: relative;
  opacity: 0;
  left: 100px;
}
.side-animate.ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
}
