<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="js/gadget.js"></script>
    <script>
    init({
        application: "dev.jh_kh",
        paramValues: {},
        oAuth: {
            clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
            clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
            account: 'bubu@debug.ischool.com.tw',
            password:'1234'
        }
    });
    </script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/defalut.css" rel="stylesheet" />
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
    .btn-gray {
        background-color: rgb(215, 215, 215);
    }
    </style>
</head>

<body ng-controller="Ctrl" data-ng-init="init()">
    <div id="gadget" class="my-page">
        <div class="row">
            <div class="col-md-12">
                <h1>
                體適能測驗資料輸入
                <div class="pull-right" style="position: relative;bottom: 10px;">
                    <a class="btn btn-info" ng-click="showRule()" >說明</a>
                </div>
            </h1>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">輸入</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">查詢</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style=" margin-top: 10px;">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div id="mainMsg"></div>
                            <div class="alert alert-info" ng-class="{'alert-danger':current.inPeriod}" role="alert" ng-show="current.id" style="margin-top: 10px;">
                                {{current.school_year}}學年度 體適能測驗資料輸入區間：{{current.start_time}} - {{current.end_time}}
                            </div>
                            <div class="btn-group" style="margin-top: 10px;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{current.course_name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="m in menu">
                                        <a href="#" ng-click="setCurrent(m)">{{m.course_name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group pull-right col-md-4" style="margin-top: 10px;">
                                <div class="input-group">
                                    <div class="input-group-addon">重設測驗日期：</div>
                                    <input type="text" disabled class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="test_date" is-open="opened" show-button-bar="false" datepicker-options="{
    formatYear: 'yy',
    startingDay: 1
  }" ng-required="true" ng-change="showEditForm('test_date',test_date)" close-text="Close" />
                                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event)"><i
                                    class="fa fa-calendar"></i></button>
                          </span>
                                    <!-- <input ng-model="test_date" ng-change="showEditForm('test_date',test_date)" type="date" class="form-control" placeholder="EX:2014-08-07"> -->
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th>座號</th>
                                        <th>姓名</th>
                                        <th><a class="btn btn-primary btn-sm" ng-click="showEditForm('test_date')"><i
                                        class="fa fa-edit"></i> 測驗日期</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('height')"><i class="fa fa-edit"></i> 身高(cm)</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('weight')"><i class="fa fa-edit"></i> 體重(kg)</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('sit_and_reach')"><i class="fa fa-edit"></i> 坐姿體前彎(cm)</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('standing_long_jump')"><i class="fa fa-edit"></i> 立定跳遠(cm)</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('sit_up')"><i class="fa fa-edit"></i> 仰臥起坐(次)</a>
                                        </th>
                                        <th><a class="btn btn-sm" ng-class="{true:'btn-primary',false:'btn-gray'}[checkListBool]" ng-click="showEditForm('cardiorespiratory')"><i class="fa fa-edit"></i>
                                    心肺適能(秒)</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="l in list">
                                        <td>{{l.seat_no}}</td>
                                        <td>{{l.name}}</td>
                                        <td>{{l.test_date}}</td>
                                        <td>{{l.height}}</td>
                                        <td>{{l.weight}}</td>
                                        <td>{{l.sit_and_reach}}</td>
                                        <td>{{l.standing_long_jump}}</td>
                                        <td>{{l.sit_up}}</td>
                                        <td>{{l.cardiorespiratory}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default">
                                    {{current.school_year}}學年第{{current.semester}}學期
                                </button>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{current.course_name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="m in menu">
                                        <a href="#" ng-click="setCurrent(m)">{{m.course_name}}</a>
                                    </li>
                                </ul>
                            </div>

                            <table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th>座號</th>
                                        <th style="width: 65px;">姓名</th>
                                        <th style="width: 95px;">測驗日期</th>
                                        <th>身高(cm)</th>
                                        <th>體重(kg)</th>
                                        <th>坐姿體前彎(cm)</th>
                                        <th>常模</th>
                                        <th>立定跳遠(cm)</th>
                                        <th>常模</th>
                                        <th>仰臥起坐(次)</th>
                                        <th>常模</th>
                                        <th>心肺適能(秒)</th>
                                        <th>常模</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ngRepeat: l in list -->
                                    <tr ng-repeat="l in list">
                                        <td>{{l.seat_no}}</td>
                                        <td>{{l.name}}</td>
                                        <td>{{l.test_date}}</td>
                                        <td>{{l.height}}</td>
                                        <td>{{l.weight}}</td>
                                        <td>{{l.sit_and_reach}}</td>
                                        <td>{{l.sit_and_reach_degree}}</td>
                                        <td>{{l.standing_long_jump}}</td>
                                        <td>{{l.standing_long_jump_degree}}</td>
                                        <td>{{l.sit_up}}</td>
                                        <td>{{l.sit_up_degree}}</td>
                                        <td>{{l.cardiorespiratory}}</td>
                                        <td>{{l.cardiorespiratory_degree}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="myModalRule.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> 說明</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>仰臥起坐 (次)，例如：45 (整數)</li>
                    <li>坐姿體前彎 (公分) ，例如：50 (整數)</li>
                    <li>立定跳遠 (公分) ，例如：170 (整數)</li>
                    <li>心肺適能 (秒)，例如：200秒可輸入200或3.20<擇一輸入>
                    </li>
                    <li>身心障礙等特殊原因學生經主管機關認定無法施測者，統一輸入"免測"</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">關閉</button>
            </div>
        </script>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <button style="margin-left:10px;float:right" type="button" class="btn btn-primary" ng-click="ok()">儲存
                </button>
                <button style="float:right" type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <h4 class="modal-title" id="myModalLabel">{{column_text}}</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr ng-repeat="tl in tmplist" ng-class="{danger:tl.unvalidated}">
                        <td>{{tl.seat_no}}</td>
                        <td>{{tl.name}}</td>
                        <td>
                            <input type="text" ng-if="tl.focus" class="form-control" ng-model="tl.value" init-focus key-focus select-on-focus>
                            <input type="text" ng-if="!tl.focus" class="form-control" ng-model="tl.value" key-focus select-on-focus>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">儲存</button>
            </div>
        </script>
        <script src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls.min.js"></script>
        <script src="js/default.js"></script>
</body>

</html>
