@import url(http://fonts.googleapis.com/css?family=RobotoDraft:500);

*
{
  font-family: 'RobotoDraft', sans-serif;
  font-size: 15px;
}

.material_block
{
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  margin: 50px;
}

.material_checkbox
{
  position: relative;
  margin: 25px;
}

.material_checkbox:before
{
  border: 2px solid #ccc;
  content: "";
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 15px;
  z-index: 1;
}

.material_checkbox:checked:before
{
  border-top-style: none;
  border-right-style: none;
  height: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.material_checkbox:after
{
  background: #fff;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 0;
}

.material_checkbox:nth-child(1):checked:before{border-color:#B0CCC6;}
