<div>
  <h1>線上點名</h1>
  <div>
  <form class="form-inline">
      <span>請選擇班級：</span>
      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdowClass" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selClass?.className || '班級'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdowClass">
            <li *ngFor="let item of classes" (click)="selClass=item"><a href="#">{{item.className}}</a></li>
          </ul>
        </div>
      </div>
      <button *ngIf="classes.length > 0" (click)="toggleClassDate()" type="submit" class="btn btn-default" style="margin-left:10px">確定</button>
      <span *ngIf="selClass" [ngClass]="{'text-success': completed=='t', 'text-warning': completed!='t'}">
        {{(completed=='t') ? '今日已點名' : '今日尚未點名'}}
      </span>
    </form>
  </div>
  <div *ngIf="selClass">
    <div style="margin-top:15px;">
      請選擇假別：
      <button (click)="currAbs=clearAbs" type="button" class="btn" [ngClass]="{'btn-primary': currAbs==clearAbs, 'btn-default': currAbs!=clearAbs}">清除</button>
      <div class="btn-group" role="group" aria-label="假別">
        <button *ngFor="let abs of absences" (click)="currAbs=abs" type="button" class="btn" [ngClass]="{'btn-primary': currAbs==abs, 'btn-default': currAbs!=abs}">{{abs.name}}</button>
      </div>
    </div>

    <table class="table table-bordered table-hover" style="margin-top: 15px;">
      <thead>
        <tr>
          <th class="thBorder" style="min-width:110px;">
            <button (click)="saveData()" type="button" class="btn" [ngClass]="{'btn-success': completed=='t', 'btn-warning': completed!='t'}">
              {{(completed=='t') ? '再次儲存' : '點名完成'}}
            </button>
          </th>
          <th *ngFor="let period of periods" (click)="setAllStudentsAbs(period)" class="setBtn thBorder">
            {{period.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stu of students">
          <td (click)="setStudentAllPeriodAbs(stu)" class="setBtn">
            {{stu.seatNo}}. {{stu.name}}
          </td>
          <td *ngFor="let period of periods" (click)="setStudentPeroidAbs(stu, period)" class="setBtn">
            {{toShort(stu.leaveList.get(period.name)?.absName)}}
          </td>
        </tr>    
      </tbody>
    </table>
    <p *ngIf="students.length==0">目前無資料</p>
  </div>
</div>