[lang=zh-CN] [multi-lang-text=取消]:before
{
    content: "取消";
}
[lang=zh-CN] [multi-lang-text=處理中]:before
{
    content: "处理中";
}
[lang=zh-CN] [multi-lang-text=成為學生]:before
{
    content: "成为学生";
}
[lang=zh-CN] [multi-lang-text=註冊成為學生]:before
{
    content: "注册成为学生";
}
[lang=zh-CN] [multi-lang-text=您已具有學生身份]:before
{
    content: "您已具有学生身份";
}
[lang=zh-CN] [multi-lang-text=呼叫服務失敗]:before
{
    content: "呼叫服务失败!";
}
[lang=zh-CN] [multi-lang-text=設定帳戶]:after
{
    content: "请先至「设定帐户」中填写您的姓名";
}
