<!DOCTYPE html>
<html ng-app="enterconduct">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="js/gadget.js"></script>
    <script>
        init({
            application: "test.b.nehs.hc.edu.tw",
            //application: "b.nehs.hc.edu.tw",
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
                //account: 'Kayao.Sou.IBSH@1campus.net',
                account: 'Peter.Pan.IBSH@1campus.net',
                password: '4321'
            }
        });
    </script>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/enterconduct.js"></script>
    <script src="js/angular-strap.min.js"></script>
    <script src="js/angular-strap.tpl.min.js"></script>
    <style>
        #affixPanel.affix {
            top: 15px;
        }

        .stuName {
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -webkit-animation-name: fadein;
            -moz-animation-name: fadein;
            animation-name: fadein;
            -webkit-animation-delay: 0.01s;
            -moz-animation-delay: 0.01s;
            animation-delay: 0.01s;
        }
        /* Code for Chrome, Safari and Opera */
        @-webkit-keyframes fadein {
            from {
                color: lightgray;
            }
        }
        /* Standard syntax */
        @keyframes fadein {
            from {
                color: lightgray;
            }
        }

        .ovHint {
            display: none;
            position: absolute;
            z-index: 1;
            white-space: nowrap;
            text-align: right;
        }

        th:hover .ovHint {
            display: inherit;
        }
    </style>
</head>

<body ng-controller="MainCtrl">
    <div id="gadget" class="my-page">
        <h1>{{current.SchoolYear}} {{current.Semester == '1' ? '1st' : (current.Semester == '2' ? '2nd' :'')}} Semester Grade Conduct</h1>
        <div class="alert alert-info"
             ng-if="current.MiddleOpeningC == 'true' || current.FinalOpeningC == 'true'"
             style="padding: 8px;margin-bottom: 10px;">
            <p ng-if="current.MiddleOpeningC == 'true'">Midterm: {{current.MiddleBeginC}} ~ {{current.MiddleEndC}} {{current.Message}}</p>
            <p ng-if="current.FinalOpeningC == 'true'">Final: {{current.FinalBeginC}} ~ {{current.FinalEndC}}</p>
        </div>
        <div ng-if="courseList">
            <div class="btn-group">
                <a href="" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                   ng-class="{disabled:savingSeril!=0}">
                    <span ng-if="teacherType == 'homeroom'">Homeroom Teacher</span>
                    <span ng-if="teacherType == 'subject'">Subject Teacher</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-class="{active:teacherType == 'homeroom'}"
                        ng-if="current.HomeroomTeacher">
                        <a href="javascript:;" ng-click="switchTeacherType('homeroom')">Homeroom teacher</a>
                    </li>
                    <li ng-class="{active:teacherType == 'subject'}"
                        ng-if="current.SubjectTeacher">
                        <a href="javascript:;" ng-click="switchTeacherType('subject')">Subject Teacher</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href=""
                   ng-class="{disabled:savingSeril!=0}"
                   class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    {{currentCourse.Title}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in courseList" ng-class="{active:item.selected}" ng-if="item.Show">
                        <a href="javascript:;" ng-click="selectCourse(item)">{{item.Title}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href=""
                   ng-class="{disabled:savingSeril!=0}"
                   class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    {{currentStudent.ClassName}}, {{currentStudent.SeatNo}}, {{currentStudent.StudentChineseName}} ( {{currentStudent.StudentEnglishName}} )
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in studentList" ng-class="{active:item.selected}">
                        <a href="javascript:;" ng-click="selectStudent(item)">{{item.ClassName}}, {{item.SeatNo}}, {{item.StudentChineseName}} ( {{item.StudentEnglishName}} )</a>
                    </li>
                </ul>
            </div>


            <!--<div class="btn-group pull-right"
                 ng-if="currentCourse">
                <a class="btn btn-sm btn-default" type="button" ng-click="PrintPage()">
                    Print
                </a>
            </div>-->
            <!-- 1-4 -->
            <div class="btn-group pull-right"
                 ng-if="currentStudent&&currentStudent.GradeYear <= 4"
                 style="margin-right:4px;">
                <a class="btn btn-default btn-sm dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Overview
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    style="padding: 0px;">
                    <li>
                        <table class="table table-bordered table-striped table-hover"
                               style="width:450px;margin:0px;">
                            <tr ng-repeat="item in currentStudent.EditConduct.Conducts.Conduct">
                                <td>
                                    <div class="pull-right">
                                        <a ng-if="currentStudent.GradeYear <= 4"
                                           class="btn btn-xs btn-default"
                                           ng-click="overview(item, 1)">
                                            Midterm
                                        </a>
                                        <a ng-if="currentStudent.GradeYear <= 4"
                                           class="btn btn-xs btn-default"
                                           ng-click=" overview(item, 2)">
                                            Final
                                        </a>
                                    </div>
                                    <b>
                                        {{item.Group}}
                                    </b>
                                </td>
                            </tr>
                            <tr ng-if="teacherType == 'homeroom'">
                                <td>
                                    <b>
                                        Comment
                                    </b>
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-default"
                                           ng-click="overview({type:'Comment'}, 1)">
                                            Midterm
                                        </a>
                                        <a class="btn btn-xs btn-default"
                                           ng-click=" overview({type:'Comment'}, 2)">
                                            Final
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <!-- 5-12 -->
            <div class="btn-group pull-right"
                 ng-if="currentStudent&&currentStudent.GradeYear > 4"
                 style="margin-right:4px;">
                <a class="btn btn-default btn-sm dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Overview
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in currentStudent.EditConduct.Conducts.Conduct">
                        <a href="javascript:;"
                           ng-click="overview(item, 3)">
                            {{item.Group}}
                        </a>
                    </li>
                    <li ng-if="teacherType == 'homeroom'">
                        <a href="javascript:;"
                           ng-click="overview({type:'Comment'}, 3)">
                            Comment
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 1-4只開放期中 -->
            <div class="btn-group pull-right"
                 ng-if="currentCourse&&current.MiddleOpeningC=='true'&&current.FinalOpeningC!=='true'&&currentStudent.GradeYear <= 4"
                 style="margin-right:4px;">
                <a class="btn btn-sm btn-default"
                   ng-click="configDefaultValue(1)"
                   ng-if="currentConduct">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Default Values
                </a>
            </div>
            <!-- 1-4只開放期末 -->
            <div class="btn-group pull-right"
                 ng-if="currentCourse&&current.MiddleOpeningC!=='true'&&current.FinalOpeningC=='true'&&currentStudent.GradeYear <= 4"
                 style="margin-right:4px;">
                <a class="btn btn-sm btn-default"
                   ng-click="configDefaultValue(2)"
                   ng-if="currentConduct">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Default Values
                </a>
            </div>
            <!-- 1-4開放其中跟期末 -->
            <div class="btn-group pull-right"
                 ng-if="currentCourse&&current.MiddleOpeningC=='true'&&current.FinalOpeningC=='true'&&currentStudent.GradeYear <= 4"
                 style="margin-right:4px;">
                <a class="btn btn-default btn-sm dropdown-toggle"
                   ng-if="currentConduct"
                   data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Default Values
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:;"
                           ng-click="configDefaultValue(1)">
                            Midterm
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"
                           ng-click="configDefaultValue(2)">
                            Final
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 5-12只開放期末 -->
            <div class="btn-group pull-right"
                 ng-if="currentCourse&&current.FinalOpeningC=='true'&&currentStudent.GradeYear > 4"
                 style="margin-right:4px;">
                <a class="btn btn-sm btn-default"
                   ng-click="configDefaultValue(3)"
                   ng-if="currentConduct">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Default Values
                </a>
            </div>

            <div style="margin-top:10px;position:relative;">
                <div ng-controller="affixCtrl"
                     style="position:absolute;width:370px;right:0px;">
                    <div style="width:355px;margin-left: 15px;" id="affixPanel">
                        <table class="table table-bordered" style="margin-bottom:-1px;">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Student Info.
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <a href=""
                                                   ng-class="{disabled:savingSeril!=0}"
                                                   class="btn btn-default btn-xs dropdown-toggle"
                                                   data-toggle="dropdown">
                                                    choose
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-repeat="item in studentList" ng-class="{active:item.selected}">
                                                        <a href="javascript:;" ng-click="selectStudent(item)">{{item.ClassName}}, {{item.SeatNo}}, {{item.StudentChineseName}} ( {{item.StudentEnglishName}} )</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-xs"
                                                   style="padding-left: 15px;padding-right: 15px;"
                                                   ng-class="{disabled:savingSeril!=0}"
                                                   ng-click="selectPrevStudent()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-xs"
                                                   style="padding-left: 15px;padding-right: 15px;"
                                                   ng-class="{disabled:savingSeril!=0}"
                                                   ng-click="selectNextStudent()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="stu in studentList"
                                   ng-if="stu==currentStudent">
                                <!-- <tr>
                                    <td>ID</td>
                                    <td>
                                        <input id="seatno-textbox" type="text" class="form-control" ng-model="currentStudent.tempStudentID" ng-keydown="selectStudentID($event)">
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="col-xs-3" rowspan="2">Name</td>
                                    <td class="col-xs-9 stuName _sna">
                                        {{stu.ClassName}}, {{stu.SeatNo}}, {{stu.StudentChineseName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="stuName _sna">
                                        {{stu.StudentEnglishName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered" style="margin:0;margin-bottom: -1px;" ng-if="currentConduct">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <span>{{currentConduct.Period == 1 ? 'Midterm' : 'Final'}}</span>
                                        <div class="pull-right"
                                             ng-if="teacherType == 'homeroom'">
                                            <div class="btn-group">
                                                <a href=""
                                                   class="btn btn-xs btn-default dropdown-toggle"
                                                   data-toggle="dropdown">
                                                    <span ng-if="jumpMode=='Group'">Category mode</span>
                                                    <span ng-if="jumpMode=='All'">Student mode</span>
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-class="{'active':jumpMode=='Group'}">
                                                        <a href="javascript:;" ng-click="setJumpMode('Group')">
                                                            Category Mode
                                                            <div ng-click="setJumpMode('Group')"
                                                                 style="cursor:pointer;width:250px;margin:5px 10px;word-wrap:break-word;white-space:pre-wrap;"
                                                                 class="small">Priority is to the completion of a category.</div>
                                                        </a>
                                                    </li>
                                                    <li ng-class="{'active':jumpMode=='All'}">
                                                        <a href="javascript:;" ng-click="setJumpMode('All')">
                                                            Student Mode
                                                            <div ng-click="setJumpMode('All')"
                                                                 style="cursor:pointer;width:250px;margin-left:15px;word-wrap:break-word;white-space:pre-wrap;"
                                                                 class="small">Priority is to the completion of a student's assessment.</div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div ng-if="currentConduct.canInputGrade"
                                                 class="btn-group"
                                                 style="">
                                                <a ng-if="currentConduct.canInputGrade"
                                                   class="btn btn-xs btn-default" ng-click="submit()">
                                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                                    Save
                                                </a>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="progress" style="margin-bottom: 0px">
                                            <div class="progress-bar progress-bar-success progress-bar-striped"
                                                 role="progressbar"
                                                 style="min-width: 40px;"
                                                 ng-style="{width:calcProgress().width}"
                                                 ng-class="{'progress-bar-warning':calcProgress().width!='100%'}">
                                                {{calcProgress().progress}}
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <b ng-if="currentConduct.type!='Comment'">{{currentConduct.Group}}:</b>
                                        <b ng-if="currentConduct.type=='Comment'">Comment:</b>
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-xs"
                                                   style="padding-left: 15px;padding-right: 15px;"
                                                   ng-class="{disabled:savingSeril!=0}"
                                                   ng-click="prevItem()">
                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-xs"
                                                   style="padding-left: 15px;padding-right: 15px;"
                                                   ng-class="{disabled:savingSeril!=0}"
                                                   ng-click="nextItem()">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="currentConduct.type!='Comment'">
                                    <td class="col-xs-9">
                                        <div style="min-height:90px;">{{currentConduct.index}} . {{currentConduct.Title}}</div>
                                    </td>
                                    <td class="col-xs-3">
                                        <div style="height: 100%;display: inline-block;vertical-align: top;position:relative">
                                            <input id="grade-textbox"
                                                   type="text"
                                                   class="form-control"
                                                   ng-if="currentConduct.canInputGrade"
                                                   ng-model="currentConduct.tempGrade"
                                                   ng-keydown="enterGrade($event)">

                                            <span ng-if="!currentConduct.canInputGrade">{{currentConduct.tempGrade}}</span>
                                            <span ng-if="savingSeril!=0"
                                                  style="z-index:1;position:absolute;right:0px;bottom:-20px;"
                                                  class="text-danger">Saving...</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="currentConduct.type=='Comment'">
                                    <td colspan="2">
                                        <div style="height: 100%;width:100%;display: inline-block;vertical-align: top;position:relative">
                                            <textarea id="comment-textarea"
                                                      class="form-control"
                                                      rows="3"
                                                      ng-keydown="enterComment($event)"
                                                      ng-model="currentConduct.tempGrade"
                                                      ng-if="currentConduct.canInputGrade"
                                                      style=""></textarea>
                                            <span class="small">Enter to Save the Page; Shift+ Enter to Add a New Line</span>
                                            <div ng-if="!currentConduct.canInputGrade"
                                                 style="white-space: pre-wrap;word-break: break-all;min-height: 50px;">{{currentConduct.tempGrade}}</div>
                                            <span ng-if="savingSeril!=0"
                                                  style="z-index:1;position:absolute;right:0px;bottom:-20px;"
                                                  class="text-danger">Saving...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="currentConduct.type!='Comment'&&
                             currentConduct.canInputGrade" style="margin:10px;">
                            <p ng-repeat="item in currentConduct.Code">
                                {{item.Key}} = <a ng-if="currentConduct.canInputGrade" class="btn btn-xs {{toUpperCase(currentConduct.tempGrade)==toUpperCase(item.Value)||toUpperCase(currentConduct.tempGrade)==toUpperCase(item.Key)?'btn-warning':'btn-default'}}" style="min-width:30px;" ng-click="clickGrade(item.Value)">{{item.Value}}</a><span ng-if="!currentConduct.canInputGrade">{{item.Value}}</span> ={{item.Hint}}
                            </p>
                        </div>
                    </div>
                </div>

                <div id="printlist" style="margin-right:370px;">
                    <table class="table table-bordered table-striped table-hover"
                           ng-repeat="item in currentStudent.EditConduct.Conducts.Conduct"
                           style="margin-bottom:-1px;">
                        <thead>
                            <tr>
                                <th class="col-xs-2" ng-if="currentStudent.GradeYear <= 4">Midterm</th>
                                <th class="col-xs-2" ng-if="currentStudent.GradeYear <= 4">Final</th>
                                <th class="col-xs-2" ng-if="currentStudent.GradeYear > 4">Final</th>
                                <th ng-class="{'col-xs-8':currentStudent.GradeYear <= 4 , 'col-xs-10':currentStudent.GradeYear > 4}"
                                    style="position:relative;">
                                    <span>{{item.Group}}</span>
                                    <div style="position:absolute;top:-25px;"
                                         id="{{'scrollAnchor'+fixGroupName(item.Group)}}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="temp in item.Item" ng-class="{'warning':temp.selected}">
                                <td ng-if="currentStudent.GradeYear <= 4" ng-click="selectConduct(temp,1)" style="cursor:pointer;position: relative;">
                                    {{temp.MidtermGrade}}
                                    <div ng-if="!temp.MidtermGrade&&current.MiddleOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td ng-if="currentStudent.GradeYear <= 4" ng-click="selectConduct(temp,2)" style="cursor:pointer;position: relative;">
                                    {{temp.FinalGrade}}
                                    <div ng-if="!temp.FinalGrade&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td ng-if="currentStudent.GradeYear > 4" ng-click="selectConduct(temp,3)" style="cursor:pointer;position: relative;">
                                    {{temp.Grade}}
                                    <div ng-if="!temp.Grade&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td>{{$index+1}}. {{temp.Title}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover"
                           ng-if="teacherType == 'homeroom'&&currentStudent">
                        <thead>
                            <tr ng-if="currentStudent.GradeYear <= 4">
                                <th style="width:50%;position:relative;">
                                    Midterm Comment
                                </th>
                                <th style="width:50%;position:relative;">
                                    Final Comment
                                    <div style="position:absolute;top:-25px;"
                                         id="{{'scrollAnchorComment'}}"></div>
                                </th>
                            </tr>
                            <tr ng-if="currentStudent.GradeYear > 4">
                                <th style="width:50%;position:relative;">
                                    Final Comment
                                    <div style="position:absolute;top:-25px;"
                                         id="{{'scrollAnchorComment'}}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="currentStudent.GradeYear <= 4">
                                <td ng-click="selectConduct({type:'Comment'}, 1)"
                                    ng-class="{'warning':currentConduct.type == 'Comment'&&currentConduct.Period==1}"
                                    style="cursor:pointer;position: relative;">
                                    <div style="white-space: pre-wrap;word-break: break-all;min-height: 50px;">{{currentStudent.MidtermComment}}</div>
                                    <div ng-if="!currentStudent.MidtermComment&&current.MiddleOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                                <td ng-click="selectConduct({type:'Comment'}, 2)"
                                    ng-class="{'warning':currentConduct.type == 'Comment'&&currentConduct.Period==2}"
                                    style="cursor:pointer;position: relative;">
                                    <div style="white-space: pre-wrap;word-break: break-all;min-height: 50px;">{{currentStudent.FinalComment}}</div>
                                    <div ng-if="!currentStudent.FinalComment&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="currentStudent.GradeYear > 4">
                                <td ng-click="selectConduct({type:'Comment'}, 3)"
                                    ng-class="{'warning':currentConduct.type == 'Comment'&&currentConduct.Period==3}"
                                    style="cursor:pointer;position: relative;">
                                    <div style="white-space: pre-wrap;word-break: break-all;min-height: 50px;">{{currentStudent.Comment}}</div>
                                    <div ng-if="!currentStudent.Comment&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="teacherType !== 'homeroom' && currentStudent && currentStudent.EditConduct.Conducts.Conduct.length==0"
                         style="margin-right:370px;min-height:350px;">
                        <h4 style="top: 50%;left: 190px;position: absolute;">
                            No need to enter.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalOverview" tabindex="-1" role="dialog">
        <div class=" modal-dialog modal-lg">
            <div class="modal-content"
                 ng-if="modal.conductGroup.type!='Comment'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        {{modal.conductGroup.Group}}, {{currentCourse.Title}} {{modal.period==1?'Midterm':'Final'}} Ratings
                    </h4>
                </div>
                <div class="modal-body">
                    <ol>
                        <li ng-repeat="item in modal.conductGroup.Item">
                            {{item.Title}}
                        </li>
                    </ol>
                    <div class="pull-right"
                         ng-if="(modal.period==1&&current.MiddleOpeningC=='true')||(modal.period>1&&current.FinalOpeningC=='true')"
                         style="margin-bottom: 5px;">
                        <span>
                            Click to Set Value:
                        </span>
                        <div class="btn-group">
                            <a ng-repeat="code in modal.conductGroup.Code"
                               class="btn btn-xs {{getOverrideVal()==code.Value?'btn-warning':'btn-default'}}"
                               style="min-width:30px;"
                               ng-click="setOverrideVal(code.Value)">{{code.Value}}</a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                    <span ng-if="savingSeril!=0"
                                          class="text-danger pull-right">Saving...</span>
                                </th>
                                <th class="text-center"
                                    style="width:50px;cursor:pointer;position:relative;"
                                    ng-repeat="item in modal.conductGroup.Item">
                                    {{$index+1}}

                                    <h4 class="ovHint"
                                        style="top:-45px;"
                                        ng-style="{right:(modal.conductGroup.Item.length-$index-1)*-50}">
                                        <b class="label label-default">
                                            {{$index+1}}. {{item.Title}}
                                        </b>
                                    </h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in studentList"
                                ng-if="hasGroup(student, modal.conductGroup.Group)">
                                <td>
                                    {{student.ClassName}}, {{student.SeatNo}}, {{student.StudentChineseName}} ( {{student.StudentEnglishName}} )
                                </td>
                                <td ng-repeat="item in modal.conductGroup.Item"
                                    class="text-center"
                                    style="cursor:pointer;position:relative;"
                                    ng-click="setVal(student, item, modal.period, getOverrideVal())">
                                    <div ng-if="!getVal(student, modal.conductGroup.Group, item.Title, modal.period)"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                    <strong ng-style="getColor(student, modal.conductGroup.Group, item.Title, modal.period)">
                                        {{getVal(student, modal.conductGroup.Group, item.Title, modal.period)}}
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th class="text-center"
                                    style="width:50px;cursor:pointer;position:relative;"
                                    ng-repeat="item in modal.conductGroup.Item">
                                    {{$index+1}}

                                    <h4 class="ovHint"
                                        style="bottom:-45px;"
                                        ng-style="{right:(modal.conductGroup.Item.length-$index-1)*-50}">
                                        <b class="label label-default">
                                            {{$index+1}}. {{item.Title}}
                                        </b>
                                    </h4>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix" style="margin-top:-15px;margin-bottom:20px;">
                        <div class="pull-right"
                             ng-if="(modal.period==1&&current.MiddleOpeningC=='true')||(modal.period>1&&current.FinalOpeningC=='true')"
                             style="margin-bottom: 5px;">
                            <span>
                                Click to Set Value:
                            </span>
                            <div class="btn-group">
                                <a ng-repeat="code in modal.conductGroup.Code"
                                   class="btn btn-xs {{getOverrideVal()==code.Value?'btn-warning':'btn-default'}}"
                                   style="min-width:30px;"
                                   ng-click="setOverrideVal(code.Value)">{{code.Value}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-content"
                 ng-if="modal.conductGroup.type=='Comment'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"
                        ng-if="modal.period==1">
                        {{currentCourse.Title}} Midterm Comment
                    </h4>
                    <h4 class="modal-title"
                        ng-if="modal.period!=1">
                        {{currentCourse.Title}} Final Comment
                    </h4>
                </div>

                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-5">Name</th>
                                <th class="col-xs-7">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in studentList">
                                <td>
                                    {{student.ClassName}}, {{student.SeatNo}}, {{student.StudentChineseName}} ( {{student.StudentEnglishName}} )
                                </td>
                                <td ng-if="modal.period==1"
                                    style="cursor:pointer;position:relative;"
                                    ng-click="selectStudentConduct(student,{type:'Comment'}, 1)">
                                    <div style="white-space:pre-wrap;word-break break-all;">{{student.MidtermComment}}</div>
                                    <div ng-if="!student.MidtermComment"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                                <td ng-if="modal.period==2"
                                    style="cursor:pointer;position:relative;"
                                    ng-click="selectStudentConduct(student,{type:'Comment'}, 2)">
                                    <div style="white-space: pre-wrap;word-break: break-all;">{{student.FinalComment}}</div>
                                    <div ng-if="!student.FinalComment"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                                <td ng-if="modal.period==3"
                                    style="cursor:pointer;position:relative;"
                                    ng-click="selectStudentConduct(student,{type:'Comment'}, 3)">
                                    <div style="white-space: pre-wrap;word-break: break-all;">{{student.Comment}}</div>
                                    <div ng-if="!student.Comment"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalConfigDefaultValue" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">{{defaultPeriod==1?'Midterm':'Final'}} Grade Default Values for {{currentCourse.Title}}.</h4>
                </div>
                <div class="modal-body ">
                    <div>
                        <ul>
                            <li>
                                Set the default for each assessment, and then click "Set To All Student".
                            </li>
                            <li>
                                If the student's assessment already has a rating, it will not be overwritten.
                            </li>
                            <li>
                                Use the "<span>
                                    <i class="glyphicon glyphicon-erase"></i>
                                    erase
                                </span>" to clear the existing ratings of students.
                            </li>
                        </ul>
                        <div class="clearfix">
                            <div class="pull-right"
                                 style="margin-bottom: 5px;">
                                <div class="btn-group"
                                     style="margin-bottom:10px;">
                                    <a class="btn btn-default btn-sm"
                                       ng-click="useDefaultValueForAll()">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        Set To All Student
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="showDefaultValueForAllProgress"
                         style="margin-bottom:10px;"
                         class="progress">
                        <div class="progress-bar progress-bar-striped {{showDefaultValueForAllProgress}}"
                             role="progressbar"
                             ng-style="{width:useDefaultValueForAllProgress}">
                        </div>
                    </div>

                    <div ng-repeat="item in currentStudent.EditConduct.Conducts.Conduct">
                        <table class="table table-bordered table-striped table-hover" style="margin-bottom:-1px;">
                            <thead>
                                <tr>
                                    <th style="line-height: 22px;padding: 7px 8px;">
                                        <div class="pull-right">
                                            <span style="vertical-align: middle;">Set to All: </span>
                                            <div class="btn-group">
                                                <a ng-repeat="code in item.Code"
                                                   ng-if="currentConduct.canInputGrade"
                                                   class="btn btn-xs {{1==2?'btn-warning':'btn-primary'}}"
                                                   style="min-width:30px;"
                                                   ng-click="setGroupDefault(currentStudent.GradeYear,currentCourse.SubjectChineseName,item,code.Value)">{{code.Value}}</a>
                                            </div>
                                        </div>
                                        <span style="vertical-align: middle;">{{item.Group}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="temp in item.Item">
                                    <td>
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <a ng-if="currentConduct.canInputGrade"
                                                   class="btn btn-xs {{getDefault(currentStudent.GradeYear,currentCourse.SubjectChineseName,item.Group,temp.Title)=='erase'?'btn-warning':'btn-default'}}"
                                                   ng-click="setDefault(currentStudent.GradeYear,currentCourse.SubjectChineseName,item.Group,temp.Title,'erase')">
                                                    <i class="glyphicon glyphicon-erase"></i>
                                                    erase
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a ng-repeat="code in temp.Code"
                                                   ng-if="currentConduct.canInputGrade"
                                                   class="btn btn-xs {{getDefault(currentStudent.GradeYear,currentCourse.SubjectChineseName,item.Group,temp.Title)==code.Value?'btn-warning':'btn-default'}}"
                                                   style="min-width:30px;"
                                                   ng-click="setDefault(currentStudent.GradeYear,currentCourse.SubjectChineseName,item.Group,temp.Title,code.Value)">{{code.Value}}</a>
                                            </div>
                                        </div>
                                        <span>{{$index+1}}. {{temp.Title}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
