<!DOCTYPE html>
<html ng-app="enterconduct">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/gadget.js"></script>
    <script>
        init({
            application: "test.b.nehs.hc.edu.tw",
            //application: "b.nehs.hc.edu.tw",
            oAuth: {
                clientID: 'b88fbfbbaa848c5b5b01ce51853eac7f',
                clientSecret: '0911245ae08323086790244cd319c1c3bbde1096520154f0cbcb71f0ff76e311',
                account: 'nehs.test@1campus.net',
                password: '12345'
            }
        });
    </script>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/enterconduct.js"></script>
    <script src="js/angular-strap.min.js"></script>
    <script src="js/angular-strap.tpl.min.js"></script>
    <style>
        #affixPanel.affix {
            top: 15px;
        }
    </style>
</head>

<body ng-controller="MainCtrl">
    <div id="gadget" class="my-page">
        <h1>{{current.SchoolYear}} {{current.Semester == '1' ? '1st' : (current.Semester == '2' ? '2nd' :'')}} Semester Grade Conduct</h1>
        <div class="alert alert-info" ng-if="current.MiddleOpeningC == 'true' || current.FinalOpeningC == 'true'">
            <p ng-if="current.MiddleOpeningC == 'true'">Midterm: {{current.MiddleBeginC}} ~ {{current.MiddleEndC}} {{current.Message}}</p>
            <p ng-if="current.FinalOpeningC == 'true'">Final: {{current.FinalBeginC}} ~ {{current.FinalEndC}}</p>
        </div>
        <div ng-if="courseList">
            <div class="btn-group">
                <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   ng-class="{disabled:savingSeril!=0}">
                    <span ng-if="teacherType == 'homeroom'">Homeroom Teacher</span>
                    <span ng-if="teacherType == 'subject'">Subject Teacher</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-if="current.HomeroomTeacher">
                        <a href="javascript:;" ng-click="switchTeacherType('homeroom')">Homeroom teacher</a>
                    </li>
                    <li ng-if="current.SubjectTeacher">
                        <a href="javascript:;" ng-click="switchTeacherType('subject')">Subject Teacher</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href=""
                   ng-class="{disabled:savingSeril!=0}"
                   class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{currentCourse.Title}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in courseList" ng-class="{active:item.selected}" ng-if="item.Show">
                        <a href="javascript:;" ng-click="selectCourse(item)">{{item.Title}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a href=""
                   ng-class="{disabled:savingSeril!=0}"
                   class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{currentStudent.ClassName}},{{currentStudent.SeatNo}},{{currentStudent.StudentChineseName}}({{currentStudent.StudentEnglishName}})<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in studentList" ng-class="{active:item.selected}">
                        <a href="javascript:;" ng-click="selectStudent(item)">{{item.ClassName}}, {{item.SeatNo}}, {{item.StudentChineseName}} ({{item.StudentEnglishName}})</a>
                    </li>
                </ul>
            </div>


            <div class="btn-group pull-right">
                <a class="btn btn-default" type="button" ng-click="PrintPage()">
                    Print
                </a>
            </div>

            <div style="margin-top:10px;position:relative;">

                <div ng-controller="affixCtrl"
                     style="position:absolute;width:370px;right:0px;">
                    <div style="width:355px;margin-left: 15px;" id="affixPanel">
                        <table class="table table-bordered table-striped" style="margin-bottom:-1px;">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Student Info.
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-link pull-right"
                                               style="padding-top: 0px;padding-bottom: 0px;"
                                               ng-class="{disabled:savingSeril!=0}"
                                               ng-click="selectNextStudent()">Next</a>
                                        </div>
                                        &nbsp;
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-link pull-right"
                                               style="padding-top: 0px;padding-bottom: 0px;"
                                               ng-class="{disabled:savingSeril!=0}"
                                               ng-click="selectPrevStudent()">Prev</a>
                                        </div>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>ID</td>
                                    <td>
                                        <input id="seatno-textbox" type="text" class="form-control" ng-model="currentStudent.tempStudentID" ng-keydown="selectStudentID($event)">
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>Name</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href=""
                                               ng-class="{disabled:savingSeril!=0}" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{currentStudent.StudentChineseName}}{{currentStudent.StudentEnglishName}}<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="item in studentList" ng-class="{active:item.selected}">
                                                    <a href="javascript:;" ng-click="selectStudent(item)">{{item.ClassName}}, {{item.SeatNo}}, {{item.StudentChineseName}} ({{item.StudentEnglishName}})</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered" style="margin:0;" ng-if="currentConduct">
                            <thead>
                                <tr>
                                    <th class="col-md-9">
                                        {{currentConduct.Group}}
                                    </th>
                                    <th class="col-md-3">{{currentConduct.Period == 1 ? 'Midterm' : 'Final'}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="min-height:90px;">{{currentConduct.index}} . {{currentConduct.Title}}</div>
                                    </td>
                                    <td style="position:relative">
                                        <div style="height: 100%;display: inline-block;vertical-align: top;">
                                            <input id="grade-textbox" type="text" class="form-control" ng-if="currentConduct.canInputGrade" ng-model="currentConduct.tempGrade" ng-keydown="enterGrade($event)">
                                            <span ng-if="!currentConduct.canInputGrade">{{currentConduct.tempGrade}}</span>
                                        </div>
                                        <p style="position:absolute;right:10px;bottom:-35px;z-index:1;" ng-if="savingSeril!=0" class="text-danger">Saving...</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin:10px;">
                            <p ng-repeat="item in currentConduct.Code">
                                {{item.Key}} = <a ng-if="currentConduct.canInputGrade" class="btn btn-xs {{toUpperCase(currentConduct.tempGrade)==toUpperCase(item.Value)||toUpperCase(currentConduct.tempGrade)==toUpperCase(item.Key)?'btn-warning':'btn-default'}}" style="min-width:30px;" ng-click="clickGrade(item.Value)">{{item.Value}}</a><span ng-if="!currentConduct.canInputGrade">{{item.Value}}</span> ={{item.Hint}}
                            </p>
                        </div>
                        <a class="btn btn-default" style="margin:10px;" type="button" ng-click="SetDefaultValue()" ng-if="currentConduct">
                            Click to set default value
                        </a>
                        <a class="btn btn-default" style="margin:10px 10px 10px -10px;" type="button" ng-click="submit()" ng-if="currentConduct">
                            Submit
                        </a>
                    </div>
                </div>

                <div id="printlist" style="margin-right:370px;">
                    <table class="table table-bordered table-striped table-hover" ng-repeat="item in currentStudent.EditConduct.Conducts.Conduct" style="margin-bottom:-1px;">
                        <thead>
                            <tr>
                                <th class="col-md-2" ng-if="currentCourse.GradeYear <= 4">Midterm</th>
                                <th class="col-md-2" ng-if="currentCourse.GradeYear <= 4">Final</th>
                                <th class="col-md-2" ng-if="currentCourse.GradeYear > 4">Final</th>
                                <th ng-class="{'col-md-8':currentCourse.GradeYear <= 4 , 'col-md-10':currentCourse.GradeYear > 4}">
                                    <span>{{item.Group}}</span>
                                    <div class="btn-group pull-right">
                                        <a ng-if="currentCourse.GradeYear <= 4"
                                           style="padding-top: 0px;padding-bottom: 0px;"
                                           class="btn btn-link dropdown-toggle" data-toggle="dropdown">Overview<span class="caret"></span></a>
                                        <ul ng-if="currentCourse.GradeYear <= 4"
                                            class="dropdown-menu">
                                            <li ng-if="currentCourse.GradeYear <= 4">
                                                <a href="javascript:;" ng-click="overview(item, 1)">Midterm</a>
                                            </li>
                                            <li ng-if="currentCourse.GradeYear <= 4">
                                                <a href="javascript:;" ng-click="overview(item, 2)">Final</a>
                                            </li>
                                        </ul>
                                        <a ng-if="currentCourse.GradeYear > 4"
                                           class="btn btn-link"
                                           style="padding-top: 0px;padding-bottom: 0px;"
                                           ng-click="overview(item, 3)">Overview</a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="temp in item.Item" ng-class="{'warning':temp.selected}">
                                <td ng-if="currentCourse.GradeYear <= 4" ng-click="selectConduct(temp,1)" style="cursor:pointer;position: relative;">
                                    {{temp.MidtermGrade}}
                                    <div ng-if="!temp.MidtermGrade&&current.MiddleOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td ng-if="currentCourse.GradeYear <= 4" ng-click="selectConduct(temp,2)" style="cursor:pointer;position: relative;">
                                    {{temp.FinalGrade}}
                                    <div ng-if="!temp.FinalGrade&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td ng-if="currentCourse.GradeYear > 4" ng-click="selectConduct(temp,3)" style="cursor:pointer;position: relative;">
                                    {{temp.Grade}}
                                    <div ng-if="!temp.Grade&&current.FinalOpeningC==='true'"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                </td>
                                <td>{{$index+1}}. {{temp.Title}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped table-hover" ng-if="teacherType == 'homeroom'">
                        <thead>
                            <tr>
                                <th ng-if="currentCourse.GradeYear <= 4" style="width:50%">Midterm Comment (Enter to Save the Page; Shift+ Enter to Add a New Line)</th>
                                <th ng-if="currentCourse.GradeYear <= 4" style="width:50%">Final Comment (Enter to Save the Page; Shift+ Enter to Add a New Line)</th>
                                <th ng-if="currentCourse.GradeYear > 4" style="width:50%">Final Comment (Enter to Save the Page; Shift+ Enter to Add a New Line)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="currentCourse.GradeYear <= 4">
                                    <textarea id="mcomment-textbox" class="form-control" rows="3" ng-keydown="enterComment($event)" ng-model="currentStudent.MidtermComment" ng-if="currentConduct.canInputMComment" style="height:100%"></textarea>
                                    <span ng-if="!currentConduct.canInputMComment" style="word-break: break-all">{{currentStudent.MidtermComment}}</span>
                                </td>
                                <td ng-if="currentCourse.GradeYear <= 4">
                                    <textarea id="fcomment-textbox" class="form-control" rows="3" ng-keydown="enterComment($event)" ng-model="currentStudent.FinalComment" ng-if="currentConduct.canInputFComment" style="height:100%"></textarea>
                                    <span ng-if="!currentConduct.canInputFComment" style="word-break: break-all">{{currentStudent.FinalComment}}</span>
                                </td>
                                <td ng-if="currentCourse.GradeYear > 4">
                                    <textarea id="comment-textbox" class="form-control" rows="3" ng-keydown="enterComment($event)" ng-model="currentStudent.Comment" ng-if="currentConduct.canInputGrade" style="height:100%"></textarea>
                                    <span ng-if="!currentConduct.canInputGrade" style="word-break: break-all">{{currentStudent.Comment}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">{{modal.conductGroup.Group}} Overview</h4>
                </div>
                <div class="modal-body">
                    <ol>
                        <li ng-repeat="item in modal.conductGroup.Item">
                            {{item.Title}}
                        </li>
                    </ol>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center"
                                    style="width:50px;"
                                    ng-repeat="item in modal.conductGroup.Item">
                                    {{$index}}.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in studentList">
                                <td>{{student.StudentChineseName}}{{student.StudentEnglishName}}</td>
                                <td ng-repeat="item in modal.conductGroup.Item"
                                    class="text-center"
                                    style="position:relative;"
                                    ng-style="getColor(student, modal.conductGroup.Group, item.Title, modal.period)">
                                    <div ng-if="!getVal(student, modal.conductGroup.Group, item.Title, modal.period)"
                                         style="border: solid red 2px;width: 1px;height: 1px;position: absolute;left: 5px;top: 5px;z-index: 1;border-radius: 3px;"></div>
                                    <strong>
                                        {{getVal(student, modal.conductGroup.Group, item.Title, modal.period)}}
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
