<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="http://web.ischool.com.tw/devlibrary/gadget.js"></script>
  <script>
    init({
      application: "dev.sh_d", //"h.trialschool.tw", //"http://test.iteacher.tw/cs4/test_sh_d_chhs", //"dev.jh_kh",
      paramValues: {}
    });
  </script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/defalut.css" rel="stylesheet" />
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body ng-controller="Ctrl1" data-ng-init="init()">
<div id="gadget" class="my-page">
    <div class="row">
        <div class="col-md-12">
            <h1 ng-click="getPendingRequests()">
                線上請假簽核
            </h1>
            <div id="mainMsg"></div>
            <div>
                    <table class="table table-striped table-bordered table-hover" style="margin-top:10px;">
                        <thead>
                            <tr>
                                <th>班級</th>
                                <th>座號</th>
                                <th>學號</th>
                                <th>姓名</th>
                                <th>日期</th>
                                <th>節次</th>
                                <th>假別</th>
                                <th>事由</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in list">
                                <td>{{l.class_name}}</td>
                                <td>{{l.seat_no}}</td>
                                <td>{{l.student_number}}</td>
                                <td>{{l.name}}</td>
                                <td>{{l.att_occur_date|myDateFormat:"yyyy/MM/dd"}}</td>
                                <td>{{l.att_period}}</td>
                                <td>{{l.att_absence_type}}</td>
                                <td>{{l.att_reason}}</td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="showEditForm(l.uid)">簽核</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-edit"></i> 線上請假簽核</h4>
        
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div id="mainMsg2"></div>
            <div class="form-group">
                <label for="input03" class="col-sm-2 control-label">班級</label>
                <div class="col-sm-3">
                    {{main.class_name}}
                </div>
                
                <label for="input03" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-5">
                    {{main.att_occur_date}}
                </div>
            </div>
            <div class="form-group">
            <label for="input03" class="col-sm-2 control-label">座號</label>
                <div class="col-sm-3">
                    {{main.seat_no}}
                </div>
                <label for="input03" class="col-sm-2 control-label">節次</label>
                <div class="col-sm-5">
                    {{main.att_period}}
                </div>
            </div>
            <div class="form-group">
                <label for="input03" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-3">
                    {{main.name}}
                </div>
                <label for="input03" class="col-sm-2 control-label">假別</label>
                <div class="col-sm-5">
                    {{main.att_absence_type}}
                </div>
            </div>
            <div class="form-group">
                <label for="input03" class="col-sm-2 control-label">學號</label>
                <div class="col-sm-3">
                    {{main.student_number}}
                </div>
                <label for="input03" class="col-sm-2 control-label">事由</label>
                <div class="col-sm-5">
                    {{main.att_reason}}
                </div>
            </div>
            <div class="form-group">
                <label for="input03" class="col-sm-2 control-label">當天請假狀況</label>
                <div class="col-sm-10">
                        <span ng-show="attendance.length==0">
                        無
                    </span>
                    <span ng-show="attendance.length>0" ng-repeat="a in attendance">
                        {{a.period+'('+a.absencetype+')'}}
                        <span ng-show="!$last">,</span>
                    <span>
                    
                </div>
            </div>
            <div class="form-group" ng-show="main.last_message">
                <label for="input03" class="col-sm-2 control-label">上一簽核者回覆</label>
                <div class="col-sm-10">
                    {{main.last_message}}
                </div>
            </div>
            <div class="form-group">
                <label for="input02" class="col-sm-2 control-label">回覆</label>
                <div class="col-sm-10">
                    <input type="text" ng-readonly="comfirm || !form1.uid" class="form-control" id="input02" placeholder="請輸入回覆" ng-model="form1.message">
                    (回覆之內容,請假流程相關人員與家長均可檢視)
                </div>
            </div>
            <div class="form-group" ng-show="comfirm">
                <label for="input02" class="col-sm-2 control-label">簽核</label>
                <div class="col-sm-10">
                    <span ng-show="form1.status == '1'">可</span>
                    <span ng-show="form1.status == '0'">不可</span>
                </div>
            </div>
        </form>
    </div>

    <!-- 一開始出現此 DIV ，下方 DIV 隱藏 -->
    <div ng-show="!comfirm" class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="beforeok('1')">可</button>
        <button type="button" class="btn btn-danger" ng-click="beforeok('0')">不可</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>

    <!-- 當在上面 DIV 按下儲存後，隱藏上面 DIV 顯示此 DIV ， INPUT欄位加上 readonly 變為無法輸入狀態 -->
    <div ng-show="comfirm" class="modal-footer">
        <div class="alert alert-info">
            <strong><i class="fa fa-info-circle"></i> 確認送出資料？</strong>
            <button type="button" class="btn btn-default" ng-click="cancelcomfirm()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">確定</button>
        </div>
    </div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="js/default.js"></script>
</body>

</html>
