body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

input[type=text] {
	border: 1px solid #C4C4C4;
	border-radius: 3px;
	padding: 4px;
	line-height: 17px;
	color: #555;
}

input[type=text]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin solid 3px;
}

input[type=text].inputerror {
	border-color: rgba(255, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* button */
.search-button {
	background-image: url('../images/button-bg.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border: 1px solid #3079ED;
	border-radius: 3px;
	width: 68px;
	height: 27px;
	vertical-align: top;
	margin-top: 2px;
	cursor: pointer;
}

.search-button:hover {
	background-image: url('../images/button-bg.png');
	border-color: #2F5BB7;
	background-position: 0px -27px;
}

.print-button {
	background-color: #E7E7E7;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	padding: 5px 20px;
	position: fixed;
	top: 100px;
	right: 50px;
	cursor: pointer;
}
.print-button:hover {
	background-color: #D3D3D3;
	border-color: #9A9A9A;
}

/*  layer */
.leftcolumn {
	/*	background-color: red;*/
	padding: 0;
	margin: 0;
	position: absolute;
	top: 130px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	width: 200px;
	min-width: 200px;
}
div.leftcolumn hr {
	border: 0px;
	border-top: 1px solid #9A9A9A;
	margin: 8px 0px;
}


.rightcolumn {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 130px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}


/* title*/
.maintitle {
	background-color: #E2E2E2;
	border-bottom: 1px solid #B8B8B8;
	color: #DD4100;
	font-weight: bold; /*margin-top: 13px;*/
	padding: 10px;
	font-size: 25px;
}

.subtitle {
	background-color: #E42100;
	color: #FFF;
	font-weight: bold;
	margin: 10px 10px 30px 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 7px;
	padding: 10px 40px 10px 14px;
	display: inline-block;
}

/* left menu */
ul.menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px 13px 0px 0px;
}

.menu1 {
	font-weight: bold;
	padding: 6px 6px 6px 3px;
	border-left: 10px solid #FFF;
	cursor: pointer;
}

.menu-selected {
	border-color: #EB1700;
	color: #D90B00;
}

ul.menu li:hover {
	background-color: #EEEEEE;
}


/* search */
.search-text {
	color: #DF0B00;
	font-weight: bold;
	font-size: 24px;
	margin: 10px 0px;
}

/* table */
table.grid, table.linear {
	border-collapse: collapse;
	margin: auto;
}

table.grid th, table.grid td {
	border: 1px solid #E1E1E1;
	text-align: center;
}
table.grid th {
	background-image: url("../images/th-bg.png");
	background-repeat: repeat-x;
	padding: 8px;
}
table.grid td {
	width: 150px;
	height: 150px;
	background-color: #FFF;
}
table.grid div {
	margin-top: 0.5em;
	font-size: 0.8em;
}

table.linear {
	border: 1px solid #CCCCCC;
	width: 100%;
}
table.linear th, table.linear td {
	background-color: #FAFAFA;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 13px 5px;
	text-align: center;
}

.d1 {
	position: relative;
	width: 100%;
	height: 100%;
}

.d2 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.d3 {
	text-align: center;
	position: relative;
	top: 35px;
}


/* tag  */
.tag {
	 text-align: left;
}
.tag1, .tag2 {
	padding: 3px 10px;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.tag1 {
	background-color: #327AFF;
}
.tag2 {
	background-color: #AC85FF;
}

/* tabs */
.tabs-container {	
	overflow: hidden;
	overflow-x: auto;
}

.tab1, .tab2 {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 8px 30px;
	background-color: #EBEBEA;
	background: url("../images/tabs-bg.png") 0px 0px;
	border: 1px solid #EBEBEA;
	border-bottom: 0px;
}

.tab1 a, .tab2 a {
	color: #4D4D4D;
}

.tab2 {
	/*	margin-left: -4px;*/
}


ul.tabs li.tab-selected {
	background-color: #F6F5F4;
	background: url("../images/tabs-bg.png") 0px 36px;
	font-weight: bold;
}

.tab-selected a {
	color: #000000;
}

.tab-content {
	background-color: #F1F1F1;
	margin-top: 0;
	padding: 20px;
}

ul.tabs {
	list-style-type: none;
	padding: 0px;
	margin: 20px 0px 0px 0px;
	width: 5000px;
}

ul.tabs li {
	display: block;
	float: left;
}	

ul.tabs li > a {
	text-decoration: none;
}

ul.tabs li:hover, li > a:hover {
	color: lightgreen;
	background-color: black;
}

/* Week Control */
div.week-container {
	position: relative;
	clear: left;
}
a.week-last {
	
}
a.week-next {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

/* jQuery UI autocomplete */
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: 0;
	line-height: 1.5;
}
.ui-menu-item {
	font-size: 0.8px;
}

.empty_column {
	background-image: url("../images/line.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.SplitterBottomPane p {
	width: 170px;
}

table.grid td:first {
	width: 70px;
}

@import "print.css";