<nav class="navbar fixed-top navbar-light bg-white justify-content-between shadow py-3">
  <a class="navbar-brand"
     [routerLink]="['/']">
    <img src="assets/img/logo.png"
         class="d-inline-block align-top mr-2"
         alt=""> Kang Chiao International School
  </a>
  <span class="user-name d-none d-sm-block">
    <div class="mr-3 point"
         (click)="logout()">Logout
    </div>
  </span>
</nav>

<div class="container-fluid cbs d-flex justify-content-between flex-column">
  <router-outlet></router-outlet>

  <footer class="text-center p-2 mt-auto">
    Powered By ischool
  </footer>
</div>